<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>最新咨询</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/News/news.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/base.js"></script>
</head>
<body>
<div class="u-news-box">
    <div class="u-news-list u-page">
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-cyan">【今日聚焦】热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-orange">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-green">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-lightorange">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-cyan">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-orange">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-green">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-cyan">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-cyan">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
        <div class="u-news-item" data-url="./newsDetail.html">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <div class="u-news-info">
                <h2 class="u-new-title size18"><span class="highlight-cyan">【今日聚焦】</span>热烈庆祝诺亚公司入驻乐成国际贸易城</span></h2>
                <p class="u-news-content size14">上海隧道工程有限公司（简称“上海隧道”）始建于1965年，是中国最早开展盾构法隧道技术研发和施工应用的专业公司。
                    上海隧道经营业务包括基础设施投资、设计、施工总承包及运营养护，先进装备制造、PC预制等。业务遍及长三角、珠三角、京津冀以及昆明、郑州、武汉、乌鲁木齐等地外，还深入新加坡、印度、日本等国际市场，综合实力位居行业前列，是国内最具专业性和发展潜力的建筑企业之一。</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>