<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>咨询详情</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/News/news.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="../../Resources/js/common/base.js"></script>-->
</head>
<body>
<div class="u-header">
    <div class="tbar">
        <div class="u-page clear">
            <div class="u-weixin left">
                <i class="icon_hf icon_wx"></i>
                <span>微信</span>
            </div>
            <div class="u-useinfo right">
                <ul class="u-user">
                    <li class="u-mesage">
                        <a href="#">消息</a>
                    </li>
                    <li class="u-userselect">
                        <span class="l-link_fff"></span>
                        <span>用户名</span>
                        <i class="icon-down"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="u-nav-box">
        <div class="u-page clear_no">
            <div class="logo">
                <a href="#"></a>
                <span class="loc f16">【<em>石家庄</em>】</span>
            </div>
            <ul class="tnav_wrap left">
                <li class="nav-home"><a href="#" class="nav-on">首页</a></li>
                <li><a href="#">招聘项目</a></li>
                <li><a href="#">我要兼职</a></li>
                <li><a href="#">最新资讯</a></li>
            </ul>
            <div class="right">
                <div class='tphone'>
                    <i class="icon-tphone"></i>
                    <span>400-666-5643</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="u-news-detail-box u-page">
    <div class="u-news-detail pull-left">
        <div class="u-news-header">
            <h1 class="u-news-title size24">热烈庆祝诺亚公司入驻乐城国际贸易城</h1>
            <p class="u-news-time size14">2017-3-20</p>
        </div>
        <div class="u-news-info">
            <p class="u-news-content size14">上海隧道累计建设的隧道里程已达703.51公里；其中14米级以上大直径盾构隧道建设里程占全国总里程的73%。公司荣获全国质量奖、全国优秀施工企业、国家科技进步一等奖、全国用户满意企业、全国文明单位、中国最佳雇主企业、上海市重大工程实事立功竞赛突出贡献金杯公司等荣誉。</p>
            <p class="u-news-content">上海隧道累计建设的隧道里程已达703.51公里；其中14米级以上大直径盾构隧道建设里程占全国总里程的73%。公司荣获全国质量奖、全国优秀施工企业、国家科技进步一等奖、全国用户满意企业、全国文明单位、中国最佳雇主企业、上海市重大工程实事立功竞赛突出贡献金杯公司等荣誉。</p>
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
            <p class="u-news-content size14">上海隧道累计建设的隧道里程已达703.51公里；其中14米级以上大直径盾构隧道建设里程占全国总里程的73%。公司荣获全国质量奖、全国优秀施工企业、国家科技进步一等奖、全国用户满意企业、全国文明单位、中国最佳雇主企业、上海市重大工程实事立功竞赛突出贡献金杯公司等荣誉。</p>
            <p class="u-news-content size14">上海隧道累计建设的隧道里程已达703.51公里；其中14米级以上大直径盾构隧道建设里程占全国总里程的73%。公司荣获全国质量奖.。</p>
            <p class="u-news-content size14">上海隧道累计建设的隧道里程已达703.51公里；其中14米级以上大直径盾构隧道建设里程占全国总里程的73%。公司荣获全国质量奖、全国优秀施工企业、国家科技进步一等奖、全国用户满意企业、全国文明单位、中国最佳雇主企业、上海市重大工程实事立功竞赛突出贡献金杯公司等荣誉。</p>
        </div>
    </div>

    <!--广告栏-->
    <div class="u-advertise-list pull-right">
        <div class="u-advertise-item">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
        </div>
        <div class="u-advertise-item">
            <img class="u-news-pic" src="../../Resources/img/recruit-img.jpg">
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</body>
</html>