.u-registerbox .container-fluid{
    padding: 0 .55rem;

}
.u-registerbox .col-xs-12{
    padding: 0;
}
.u-registerbox .form-control{
    color: #fff;
    padding: .06rem .6rem;
    font-size: .3rem;
    font-family: "SimHei";
    background: transparent;
    border: none;
    height: .88rem;
    border-bottom: 1px solid #a0a1a3;
    border-radius: 0;
    padding: .48rem 0 .2rem .06rem;
    box-shadow: none;

}
.u-registerbox .input-group{
    padding: 0 .2rem;
    margin-bottom: 0;
 }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
    outline-offset: 0;
}
.u-registerbox{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../imges/login-bg.jpg") no-repeat;
    background-size: 100%;
}
.u-registerbox .j-btn{
    margin-top: .80rem;
    height:.9rem;
    background: #EB3D44;
    color: #fff;
    border-radius: .44rem;
    width: 100%;
    outline: none;
}
.u-registerbox .jumbotron-row{
    margin-top: 2.54rem;
    background: #000;
    opacity: .4;
    height: .485rem;
    margin-bottom: 0;
    border-radius: .03rem;

}
.return{
    font-size: .28rem;
    color: #fff;
    font-family: "Microsoft yahei";
    opacity: .8;
}
.return-row{
    margin-top: .5rem;
}
.u-registerbox .form-group{
    padding: 0 .2rem;
    margin-bottom: 0;
}
.security-btn{
    background: transparent;
    color: #fff;
    padding:0;
}
.u-registerbox .input-group-btn{
    border-bottom: 1px solid #a0a1a3;
}

























