<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简历详情-收藏</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/TalentManagement/talentManagement.js"></script>

</head>
<body>
<div class="u-ResumeDetil-box">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="resumeSearch.html"></a>
        <p class="u-header-title text-center">简历详情</p>
        <span data-toggle="modal" data-target="#modal-lg" class="u-totalentManagement">转入人才库</span>
        <div class="modal fade u-model" tabindex="-1" role="dialog" id='modal-lg'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

				</span>
                        <h4 class="modal-title" id="myModalLabel">
                            人才库选择
                        </h4>
                    </div>
                    <div class="modal-body u-resume-choise">
                        <div class="btn-group">
                            <span>请选择：</span>
                            <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">岗位一</a></li>
                                <li><a href="#">岗位二</a></li>
                                <li><a href="#">岗位三</a></li>
                                <li><a href="#">岗位四</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer u-resumemodel-btn">
                        <div class="u-resumemodel-yes">
                            确定
                        </div>
                        <div class="u-resumemodel-no"  data-dismiss="modal" aria-hidden="true">
                            取消
                        </div>
                        <div class="u-resumemodel-line"></div>

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
    <div class="container-fluid u-ResumeDetil">
        <div class="row">
            <div class="col-xs-12">
                <div class="u-resume-p1 bc_fff  u-port">
                    <div class="u-p1-t">
                        <div class="u-img-box">
                            <img src="" alt="">
                        </div>
                        <div class="col-xs-8">
                            <p>胡燕<span class="u-Gender"><img src="../../Resources/img/girl.png" alt=""></span></p>
                            <p>21岁<span>本科</span></p>
                            <p>北京市-昌平区</p>
                        </div>
                    </div>
                    <div class="u-p1-b">
                        <div class="col-xs-4">
                            <p>电子邮箱：</p>
                            <p>电话：</p>
                            <p>工作经验：</p>
                            <p>婚姻状况：</p>
                            <p>政治面貌：</p>
                            <p>户口所在地：</p>
                        </div>
                        <div class="col-xs-8">
                            <span>123456@11.com</span>
                            <span>158454845665</span>
                            <span>三年</span>
                            <span>未婚</span>
                            <span>党员</span>
                            <span>北京市海淀区</span>
                        </div>
                    </div>
                </div>
                <div class="u-resume-p2 bc_fff  u-port">
                    <div class="u-p2-t">
                        <h3>自我介绍</h3>
                    </div>
                    <div class="u-p2-b">
                        <p>
                            本人在大学期间认真学习自己的专业知识，而且还涉猎部分课外的知识，开阔视野，增强知识面;工作认真负责，积极主动，能吃苦耐劳，有较强的组织能力、实际动手能力和团体合作精神，能迅速地适应各种环境。
                        </p>
                    </div>
                </div>
                <div class="u-resume-p3 bc_fff u-port">
                    <div class="u-p2-t">
                        <h3>教育经历</h3>
                    </div>
                    <div class="u-p3-b">
                        <span>2016年01月-2016年02月</span>
                        <p>
                            <span>XXX学校</span>
                            <span>软件工程</span>
                            <span>本科</span>
                        </p>
                    </div>
                </div>
                <div class="u-resume-p4 bc_fff u-port">
                    <div class="u-p2-t">
                        <h3>工作经验</h3>
                    </div>
                    <div class="u-p3-b">
                        <span>201601月-2016年02月</span>
                        <p>
                            <span>XXX公司</span>
                            <span>技术部门</span>
                            <span>实习生</span>
                            <span>实习</span>
                        </p>
                        <span>工作描述</span>
                        <p>工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述</p>
                    </div>
                </div>
                <div class="u-resume-p5 bc_fff u-port">
                    <div class="u-p2-t">
                        <h3>项目经验</h3>
                    </div>
                    <div class="u-p3-b">
                        <span>201601月-2016年02月</span>
                        <p>
                            <span>XXX项目</span>
                            <span>elipse</span>
                            <span>XXX技能</span>
                        </p>
                        <span>项目</span>
                        <p>工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述工作内容描述</p>
                        <span>项目职责</span>
                        <p>目职责项目职责项目职责项目职责项目职责项目职责项目职责项目职责项目职责项目职责项目职责项</p>
                    </div>
                </div>
                <div class="u-resume-p6 bc_fff u-port">
                    <div class="u-p2-t">
                        <h3>特殊技能</h3>
                    </div>
                    <div class="u-p3-b">
                        <p>
                            <span>精通英语</span>
                            <span>精通JAVA编程语言</span>
                            <span>熟练各种平面软件</span>
                        </p>


                    </div>
                </div>
            </div>
        </div>
        <div class="u-resume-talentCollection">
            <div class="u-foot-collection j-collect-btn" data-value="false">
                <img src="../../Resources/img/collection-fff.png" alt="">
                <span class="j-collect-text">收藏</span>
            </div>
            <div class="u-foot-toTalent" data-toggle="modal" data-target="#modal-lg" >
                转到人才库
            </div>




        </div>
    </div>





</div>

</body>
</html>