<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简历充值</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/ResumeSearch/resumeSearch.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/TalentManagement/talentManagement.js"></script>

</head>
<body>
<div class="u-recharge-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="resumeSearch.html"></a>
        <p class="u-header-title text-center">简历充值</p>
        <!--<span class="u-header-add"></span>-->
        <!--<span class="u-header-add"></span>-->
    </div>

    <div class="u-recharge-content container-fluid">
        <p>请联系客服进行线下充值，客服电话：<span class="highlight-blue">010-5642138</span></p>
        <p>当前积分：<span class="highlight-red">25366</span>，可在积分商城兑换<span class="highlight-red">130</span>份简历</p>
        <div class="u-btn-box col-xs-12">
            <a class="btn" href="../Setting/pointExchange.html" type="submit">去兑换</a>
        </div>
    </div>
</div>
</body>
</html>