<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我要兼职</title>
    <link rel="stylesheet" href="../../Resources/css/common/base.css">
    <link rel="stylesheet" href="../../Resources/css/Home/home.css">
    <link rel="stylesheet" href="../../Resources/public/pagination/pagination.css">
    <link rel="stylesheet" href="../../Resources/css/PartTimeJob/partTimeJob.css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/pagination/pagination.js"></script>
</head>
<body>

<div class="search-box">
    <div class="guanggao">
        <div class="u-page">
            <img src="../../Resources/img/guanggao.jpg" alt="">
        </div>

    </div>
    <div class="choise-list">
        <div class="u-page">
            <span class="choise-active">
                <i class="icon_hf icon-fj"></i>
                附近
            </span>
            <span>简单易做</span>
            <span>简单易做</span>
            <span>简单易做</span>
            <span>简单易做</span>
            <span>简单易做</span>
            <span>简单易做</span>
            <span>简单易做</span>
            <span>简单易做</span>
        </div>
    </div>
    <div class="search-centent">
        <div class="u-page">
            <div class="screening-box">
                <div class="screening-group clear">
                    <span>行业：</span>
                    <ul class="screening-list">
                        <li class="screening-red">互联网·游戏·软件</li>
                        <li>电子·通信·硬件</li>
                        <li>房地产·建筑·物业</li>
                        <li>金融</li>
                        <li>消费品</li>
                        <li> 汽车·机械·制造</li>
                        <li>制药·医疗</li>
                        <li>能源·化工·环保</li>
                        <li>服务·外包·中介</li>
                    </ul>
                    <a href="javascript:;">全部行业></a>
                </div>
                <div class="screening-group clear">
                    <span>岗位：</span>
                    <ul class="screening-list">
                        <li class="screening-red">互联网·游戏·软件</li>
                        <li>电子·通信·硬件</li>
                        <li>房地产·建筑·物业</li>
                        <li>金融</li>
                        <li>消费品</li>
                        <li> 汽车·机械·制造</li>
                        <li>制药·医疗</li>
                        <li>能源·化工·环保</li>
                        <li>服务·外包·中介</li>
                    </ul>
                    <a href="javascript:;">全部岗位></a>
                </div>
                <div class="screening-group clear area-div screening-select">
                    <span>区域：</span>
                    <select name="" >
                        <option value="">省</option>
                    </select>
                    <select name="" >
                        <option value="">市</option>
                    </select>
                    <select name="" >
                        <option value="">区</option>
                    </select>
                </div>
                <div class="screening-group clear more-div screening-select">
                    <span>更多：</span>
                    <select name="" >
                        <option value="">性别要求</option>
                    </select>
                    <select name="" >
                        <option value="">上班时段</option>
                    </select>
                    <select name="" >
                        <option value="">发布时间</option>
                    </select>
                </div>
                <div class="chosen clear">
                    <span>已选条件：</span>
                    <span class="chosen-list">互联网<i>×</i></span>
                    <div class="right">
                        共找到<b>800+</b>职位
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="u-page ">
        <div class="u-publishTab size18 highlight-333">
            <!--<div class="u-position">-->
                <!--<div class="u-btn-tab j-btn-tab select" data-toggle-idx="1">最新发布</div>-->
                <!--<div class="u-btn-tab j-btn-tab" data-toggle-idx="2">热门职位</div>-->
            <!--</div>-->
        </div>
        <div class="u-post-list j-post-list" data-value="1">
            <div class="u-post-item bounty">
                <div class="u-post-pic left">
                    <img src="../../Resources/img/company_lg.jpg">
                </div>
                <div class="left u-post-mid size14">
                    <div class="u-post-name size16">
                    <span class="highlight-blue highlight-333">
                        内部招待员
                        <span class="u-sm-tips size12">推荐</span>
                        <span class="u-sm-tips size12">急招</span>
                        <i></i>
                    </span>
                    </div>
                    <ul class="u-post-message left highlight-666">
                        <li class="u-post-li">
                            <span>地区：上东城区</span>
                            <span>类型：兼职</span>
                        </li>
                        <li class="u-post-li">
                            <span>结算方式：日结</span>
                            <span>福利：五险一金 <span class="u-line"></span> 餐补</span>
                        </li>
                    </ul>
                    <ul class="u-post-message second left highlight-666">
                        <li class="u-post-li">
                            <span class="size18 highlight-red">80元/天</span>
                        </li>
                        <li class="u-post-li">
                            <span>1小时前发布</span>
                        </li>
                    </ul>
                </div>
                <a class="u-btn u-btn-sure j-btn-send right">投简历</a>
                <div class="clear"></div>
            </div>
            <div class="u-post-item bounty">
                <div class="u-post-pic left">
                    <img src="../../Resources/img/company_lg.jpg">
                </div>
                <div class="left u-post-mid size14">
                    <div class="u-post-name size16">
                    <span class="highlight-blue highlight-333">
                        内部招待员
                        <span class="u-sm-tips size12">推荐</span>
                        <span class="u-sm-tips size12">急招</span>
                        <i></i>
                    </span>
                    </div>
                    <ul class="u-post-message left highlight-666">
                        <li class="u-post-li">
                            <span>地区：上东城区</span>
                            <span>类型：兼职</span>
                        </li>
                        <li class="u-post-li">
                            <span>结算方式：日结</span>
                            <span>福利：五险一金 <span class="u-line"></span> 餐补</span>
                        </li>
                    </ul>
                    <ul class="u-post-message second left highlight-666">
                        <li class="u-post-li">
                            <span class="size18 highlight-red">80元/天</span>
                        </li>
                        <li class="u-post-li">
                            <span>1小时前发布</span>
                        </li>
                    </ul>
                </div>
                <a class="u-btn u-btn-sure j-btn-send right">投简历</a>
                <div class="clear"></div>
            </div>
            <div class="u-post-item">
                <div class="u-post-pic left">
                    <img src="../../Resources/img/company_lg.jpg">
                </div>
                <div class="left u-post-mid size14">
                    <div class="u-post-name size16">
                    <span class="highlight-blue highlight-333">
                        内部招待员
                        <span class="u-sm-tips size12">推荐</span>
                        <span class="u-sm-tips size12">急招</span>
                        <i></i>
                    </span>
                    </div>
                    <ul class="u-post-message left highlight-666">
                        <li class="u-post-li">
                            <span>地区：上东城区</span>
                            <span>类型：兼职</span>
                        </li>
                        <li class="u-post-li">
                            <span>结算方式：日结</span>
                            <span>福利：五险一金 <span class="u-line"></span> 餐补</span>
                        </li>
                    </ul>
                    <ul class="u-post-message second left highlight-666">
                        <li class="u-post-li">
                            <span class="size18 highlight-red">80元/天</span>
                        </li>
                        <li class="u-post-li">
                            <span>1小时前发布</span>
                        </li>
                    </ul>
                </div>
                <a class="u-btn u-btn-sure j-btn-send right">投简历</a>
                <div class="clear"></div>
            </div>


        </div>
    </div>
    <div class="M-box"></div>
</div>

<script>
    $('.M-box').pagination({
        coping:true,
        homePage:'首页',
        endPage:'末页',
        prevContent:'上一页',
        nextContent:'下一页'
    });
    $(function () {
        // 投递按钮
        $('.j-btn-send').on('click', function () {
            if($(this).hasClass('disabled')){
                return;
            }
            $(this).addClass('disabled').text('已投递');
        });

//
//        $('.u-page span').not('.choise-active').on('mouseenter',function () {
//            $(this).css('background','#57b574')
//        }).on('mouseout',function () {
//            $(this).css('background','#64d286')
//        }).click(function () {
//            $(this).css('background','#57b574').off().siblings().not('.choise-active').css('background','#64d286');
//            $(this).siblings().not('.choise-active').on('mouseenter',function () {
//                $(this).css('background','#57b574')
//            }).on('mouseout',function () {
//                $(this).css('background','#64d286')
//            })
//
//        })
        $('.u-page span').not('.choise-active').click(function () {
            $(this).addClass('hovec').siblings().removeClass('hovec');
        })
    })
</script>
</body>
</html>