<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>岗位预览</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/PostManagement/postManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/PostManagement/postManagement.js"></script>
    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>
<body>
<div class="u-postPreview-box copy u-add-manager-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="postManagement.html"></a>
        <p class="u-header-title text-center">岗位预览</p>
    </div>

    <div class="container-fluid u-add-manager">
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">岗位名称：</span>
                <span class="col-xs-9 u-post-content">销售总监</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">推荐奖励：</span>
                <span class="col-xs-9 u-post-content">100元</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">岗位类别：</span>
                <span class="col-xs-9 u-post-content">销售类</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</span>
                <span class="col-xs-9 u-post-content">销售</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">工作性质：</span>
                <span class="col-xs-9 u-post-content">全职</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">薪酬模式：</span>
                <span class="col-xs-9 u-post-content">月薪</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">薪&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;酬：</span>
                <span class="col-xs-9 u-post-content">15K</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">结算方式：</span>
                <span class="col-xs-9 u-post-content">月结</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">招聘人数：</span>
                <span class="col-xs-9 u-post-content">2人</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">工作地点：</span>
                <span class="col-xs-9 u-post-content">河北石家庄市裕华区</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="col-xs-3 u-post-name">详细地址：</span>
                <span class="col-xs-9 u-post-content">黄河大道80号</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <span class="u-post-name">岗位职责：</span>
                <div class="u-post-desc">
                    1、主要负责盯桌，传菜生把菜递交到你手里，把菜给客人端上桌，平时都是负责用餐客人的一些小需要（比如：拿个纸巾，补餐具）工作轻松，简单，可长期兼职。<br />
                    2、要求女性，机灵活泼的，年龄不要超过35岁。<br />
                    3、服从安排,积极主动,认真负责,活泼开朗,吃苦耐劳<br />
                    4、特殊要求: 普通话熟练,沟通能力强,身份不限,身高不限 5、年龄16-35岁
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>