<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分兑换记录</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Setting/setting.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/Setting/setting.js"></script>

    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>
<body>
<div class="u-pointExLog-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="pointExchange.html"></a>
        <p class="u-header-title text-center">积分兑换记录</p>
    </div>

    <div class="u-point-list container">
        <div class="row u-point-item">
            <div class="col-xs-12">
                <div class="pull-left">
                    <div class="u-point-message">
                        <h3>兑换简历下载50份</h3>
                        <p><span>2016-07-12</span> <span>12:24:16</span></p>
                    </div>
                </div>
                <div class="pull-right">
                    <span class="u-point-count highlight-red">-70积分</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row u-point-item">
            <div class="col-xs-12">
                <div class="pull-left">
                    <div class="u-point-message">
                        <h3>兑换简历下载50份</h3>
                        <p><span>2016-07-12</span> <span>12:24:16</span></p>
                    </div>
                </div>
                <div class="pull-right">
                    <span class="u-point-count highlight-red">-70积分</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row u-point-item">
            <div class="col-xs-12">
                <div class="pull-left">
                    <div class="u-point-message">
                        <h3>兑换简历下载50份</h3>
                        <p><span>2016-07-12</span> <span>12:24:16</span></p>
                    </div>
                </div>
                <div class="pull-right">
                    <span class="u-point-count highlight-red">-70积分</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row u-point-item">
            <div class="col-xs-12">
                <div class="pull-left">
                    <div class="u-point-message">
                        <h3>兑换简历下载50份</h3>
                        <p><span>2016-07-12</span> <span>12:24:16</span></p>
                    </div>
                </div>
                <div class="pull-right">
                    <span class="u-point-count highlight-red">-70积分</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row u-point-item">
            <div class="col-xs-12">
                <div class="pull-left">
                    <div class="u-point-message">
                        <h3>兑换简历下载50份</h3>
                        <p><span>2016-07-12</span> <span>12:24:16</span></p>
                    </div>
                </div>
                <div class="pull-right">
                    <span class="u-point-count highlight-red">-70积分</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>