<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置负责人</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Setting/setting.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/Setting/setting.js"></script>

</head>
<body>
<div class="u-manager-box j-principal-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="index.html"></a>
        <p class="u-header-title text-center">设置负责人</p>
        <!--<span class="u-header-add"></span>-->
        <a class="u-header-add" href="principalItemByAdd.html"></a>
    </div>

    <div class="u-manager-list container">
        <div class="row u-manager-item">
            <div class="col-xs-12 u-inform-box">
                <div>
                    <span class="u-inform-name">李雪</span>
                    <span class="line-red"></span>
                    <span class="u-inform-desc">用户名：13236245647</span>
                </div>
                <div class="u-inform-time">
                    <span>创建时间：2017-03-06 15:26:56</span>
                </div>
            </div>
            <div class="col-xs-12 u-btn-box">
                <div class="row">
                    <span class="u-inform-btn text-center j-open-btn col-xs-4">开启</span>
                    <span class="u-inform-btn text-center col-xs-4" data-toggle="modal" data-target="#modal-lg">删除</span>
                    <a class="u-inform-btn text-center col-xs-4" href="principalItemByAditor.html">修改</a>
                </div>
            </div>
        </div>
        <div class="row u-manager-item">
            <div class="col-xs-12 u-inform-box">
                <div>
                    <span class="u-inform-name">李雪</span>
                    <span class="line-red"></span>
                    <span class="u-inform-desc">用户名：13236245647</span>
                </div>
                <div class="u-inform-time">
                    <span>创建时间：2017-03-06 15:26:56</span>
                </div>
            </div>
            <div class="col-xs-12 u-btn-box">
                <div class="row">
                    <span class="u-inform-btn text-center j-open-btn col-xs-4">开启</span>
                    <span class="u-inform-btn text-center col-xs-4" data-toggle="modal" data-target="#modal-lg">删除</span>
                    <a class="u-inform-btn text-center col-xs-4" href="principalItemByAditor.html">修改</a>
                </div>
            </div>
        </div>
        <div class="row u-manager-item">
            <div class="col-xs-12 u-inform-box">
                <div>
                    <span class="u-inform-name">李雪</span>
                    <span class="line-red"></span>
                    <span class="u-inform-desc">用户名：13236245647</span>
                </div>
                <div class="u-inform-time">
                    <span>创建时间：2017-03-06 15:26:56</span>
                </div>
            </div>
            <div class="col-xs-12 u-btn-box">
                <div class="row">
                    <span class="u-inform-btn text-center j-open-btn col-xs-4">开启</span>
                    <span class="u-inform-btn text-center col-xs-4" data-toggle="modal" data-target="#modal-lg">删除</span>
                    <a class="u-inform-btn text-center col-xs-4" href="principalItemByAditor.html">修改</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade u-model" tabindex="-1" role="dialog" id='modal-lg'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
				<!--<span class="close u-dialog-close" data-dismiss="modal" aria-hidden="true">-->
				</span>
                    <h4 class="modal-title" id="myModalLabel">
                        提示
                    </h4>
                </div>
                <div class="modal-body text-center">
                    确认删除吗？
                </div>

                <div class="modal-footer u-btn-box">
                        <div class="row">
                            <span class="u-inform-btn text-center highlight-red col-xs-6">确定</span>
                            <span class="u-inform-btn text-center col-xs-6" data-dismiss="modal">取消</span>
                        </div>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</body>
</html>