<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../Resources/css/common/base.css">
</head>
<body>
    <div class="foot">
        <div class="u-page">
            <div class="pub_d">
                <ul>
                    <li class="h-list">
                        增值产品
                    </li>
                    <li>
                        <a href="#">
                            诺亚培训
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pub_d">
                <ul>
                    <li class="h-list">
                        HR服务
                    </li>
                    <li>
                        <a href="#">
                            诺亚培训
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>

                </ul>
            </div>
            <div class="pub_d">
                <ul>
                    <li class="h-list">
                        关于我们
                    </li>
                    <li>
                        <a href="#">
                            诺亚培训
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            招聘流程外包
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pub_d f-ss">
              <div class="f-weixin">
                  <img src="../Resources/img/recruit-img.jpg" alt="">
                  <div class="f-weixin-text" >
                      <p>微信扫一扫</p>
                      <p>工作随心找</p>
                  </div>
              </div>
              <div class="f-gzh">
                  <img src="../Resources/img/recruit-img.jpg" alt="">
                  <div class="f-gzh-text" >
                      <p>扫一扫关注</p>
                      <p>诺亚公众号</p>
                  </div>
              </div>
            </div>

        </div>
        <div class="f-bottom-text">
            <p>诺亚公司旗下网站</p>
            <p>
                <span>2017诺亚人力资源开发有限公司</span>
                <span>冀ICP备10006226号-4</span>
                <span>冀公网安备13019902000054号</span>
            </p>
            <p>服务热线：400-666-5643</p>
        </div>
    </div>

</body>
</html>