<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../Resources/css/common/base.css">
</head>
<body>
    <div class="u-header">
        <div class="tbar">
            <div class="u-page clear">
                <div class="u-weixin left">
                    <i class="icon_hf icon_wx"></i>
                    <span>微信</span>
                </div>
                <div class="u-useinfo right">
                    <ul class="u-user">
                        <li class="u-mesage">
                            <a href="#">消息</a>
                        </li>
                        <li class="u-userselect">
                            <a href="#">
                                <span class="l-link_fff"></span>
                                <span>用户名</span>
                                <i class="icon-down"></i>
                            </a>
                            <ul class="user_info_list pub_list">
                                <li class="user_info_show clear">
                                    <div class="left">
                                        <img src="../Resources/img/user_img.png" alt="">
                                        <b class="user_name">姓名</b>
                                    </div>
                                    <div class="right">
                                        <a href="#" class="quit">退出登陆</a>
                                    </div>
                                    <div class="user-sanjiao"></div>
                                </li>
                                <li>
                                    <i class="icon_hf icon_text_red"></i>
                                    <p>我的简历</p>
                                    <span class="icon_hf icon_more"></span>
                                </li>
                                <li>
                                    <i class="icon_hf icon_text_sc"></i>
                                    <p>我的收藏</p>
                                    <span class="icon_hf icon_more"></span>
                                </li>
                                <li>
                                    <i class="icon_hf icon_text_mm"></i>
                                    <p>修改密码</p>
                                    <span class="icon_hf icon_more"></span>
                                </li>
                                <li>
                                    <i class="icon_hf icon_text_qz"></i>
                                    <p>求职进展</p>
                                    <span class="icon_hf icon_more"></span>
                                </li>
                                <li>
                                    <i class="icon_hf icon_text_gz"></i>
                                    <p>工作管理</p>
                                    <span class="icon_hf icon_more"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="u-nav-box">
            <div class="u-page clear_no">
                <div class="logo">
                    <a href="#"></a>
                    <span class="loc f16">【<em>石家庄</em>】</span>
                </div>
                <ul class="tnav_wrap left">
                        <li class="nav-home"><a href="#" class="nav-on">首页</a></li>
                        <li><a href="#">招聘项目</a></li>
                        <li><a href="#">我要兼职</a></li>
                        <li><a href="#">最新资讯</a></li>
                </ul>
                <div class="right">
                    <div class='tphone'>
                        <i class="icon-tphone"></i>
                        <span>400-666-5643</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>