<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收到的简历</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/LookResume/lookResume.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/TalentManagement/talentManagement.js"></script>

    <style>
        body {
            background-color: #E6E6E6;
        }
    </style>

</head>
<body>
<div class="u-resume-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="lookResume.html"></a>
        <p class="u-header-title text-center">待查看简历</p>
        <!--<span class="u-header-add"></span>-->
    </div>

    <div class="container-fluid">
        <div class="row">
            <ul class="nav u-nav col-xs-12" role="tablist">
                <li role="presentation" class="active"><a href="#flow1" role="tab" data-toggle="tab">全部</a></li>
                <li role="presentation"><a href="#flow2" role="tab" data-toggle="tab">未查看</a></li>
                <li role="presentation"><a href="#flow3" role="tab" data-toggle="tab">待笔试</a></li>
                <li role="presentation"><a href="#flow4" role="tab" data-toggle="tab">待面试</a></li>
                <li role="presentation"><a href="#flow5" role="tab" data-toggle="tab">已淘汰</a></li>
            </ul>
        </div>
    </div>

    <!-- 简历信息 -->
    <div class="tab-content">
        <div id="flow1" role="tabpanel" class="u-resume-list container-fluid tab-pane active">
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn" onclick="window.location='ResumeDetil-TalentManagementBtn.html'">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="flow2" role="tabpanel" class="u-resume-list container-fluid tab-pane">
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="flow3" role="tabpanel" class="u-resume-list container-fluid tab-pane">
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="flow4" role="tabpanel" class="u-resume-list container-fluid tab-pane">
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="flow5" role="tabpanel" class="u-resume-list container-fluid tab-pane">
            <div class="row u-resume-item">
                <div class="col-xs-12">
                    <div class="u-resume-icon-head pull-left"></div>
                    <div class="pull-left u-resume-info">
                        <div>
                            <p class=" u-resume-name pull-left">胡燕的简历</p>
                            <p class="u-resume-time pull-left">投递于2017-02-05</p>
                            <div class="clearfix"></div>
                        </div>
                        <p class="u-resume-state">简历来源：主动投递</p>
                    </div>
                    <div class="pull-right u-resume-show-btn">查看</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 简历信息 -->
</div>
</body>
</html>