/*主页*/
.bannerimg{
    height: 2.56rem;
}
.bannerimg img{
    width: 100%;
    height: 100%;
}
.welcometext{
    font-size: .3rem;
    color: #333;
    height: .88rem;
    line-height: .88rem;
}
.u-homebox .col-xs-6{
    height: 2.51rem;
    text-align: center;
}

.u-homebox .home-list{
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: .05rem;
    height: 100%;
    text-decoration: none;
}
.home-list img{
    width: 1.4rem;
    height: 1.4rem;
    margin-top: .3rem;
}
.home-list p{
    line-height: .65rem;
    font-size: .28rem;
    color: #333;
    font-family: "SimHei";
}
.row .col-xs-6:nth-of-type(1){
    padding-left: .34rem;
    padding-right: .15rem;
}
.row .col-xs-6:nth-of-type(2){
    padding-left: .15rem;
    padding-right: .34rem;
}


/*消息*/
.u-messagebox .row{
    border-top: .02rem solid #e6e6e6;
    height: 1.5rem
}
.u-messagebox .row:last-child{
    border-bottom: .02rem solid #e6e6e6;
}
.u-messagebox .row .col-xs-12{
    height: 100%
}
.noread .u-messaget span:nth-of-type(1){
    font-size: .3rem;
    color: #222;
    line-height: .86rem;
}
.u-messaget span:nth-of-type(2){
    font-size: .24rem;
    color: #999;
    margin-top: .28rem;

}
.hasread .u-messaget span:nth-of-type(1){
    font-size: .3rem;
    color: #999;
    line-height: .86rem;
}

.noread .u-messaget,.hasread .u-messaget{
    overflow: hidden
}
.u-messageb p{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: .42rem;
}
.noread .u-messageb p{
    font-size: .26rem;
    color: #444
}
.hasread .u-messageb p{
    font-size: .26rem;
    color: #999;
}

/*消息详情*/
.u-message-context{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
.u-message-time{
    text-align: center;
    color: #999;
    font-size: .24rem;

    line-height: .62rem;
    margin-top: .18rem;
}
.u-message-text{
    background: #fff;
    border-radius: .1rem;
    border: 1px solid #e6e6e6;
    font-size: .26rem;
    color: #444;
    padding: .18rem .14rem .23rem .24rem;
    line-height: .45rem;
}

