/*公共样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

*:before, *:after  {
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    box-sizing:  border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/24px Microsoft YaHei, Helvetica, Tahoma;
    line-height: 20px;
    background: #f8f8f8;
    color: #666;
    position: relative
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

li {
    list-style: none;
}

img, fieldset, iframe {
    border: 0;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
    outline: none
}

input, select, img {
    vertical-align: middle
}

em, i, font {
    font-style: normal;
}

a, a:hover, a:visited {
    text-decoration: none;
}

a {
    color: #fff
}

.mallright img {
    display: block;
}

.margin_ {
    margin-top: 10px;
}

.clear {
    -zoom: 1;
    clear: both;
}

.clear2 {
    -zoom: 1;
    clear: both;
    overflow: hidden;
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear_ {
    clear: both;
    height: 0;
    overflow: hidden
}

.clear_no:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right
}

.pos_rel {
    position: relative
}

.hide {
    display: none
}

.inline_block {
    display: inline-block;
}

.f16 {
    font-size: 16px;
}

::-ms-clear, ::-ms-reveal {
    display: none;
}

.u-page {
    width: 1024px;
    margin: 0 auto;
}

.icon_hf {
    display: inline-block;
    background-image: url("../../img/icon_hf.png");
    background-repeat: no-repeat;
}

/**head**/
.u-header {
    position: relative;
    z-index: 1000;
    font-size: 14px;
}

.tbar {
    height: 40px;
    background: #e83838;
    z-index: 1002;
    position: relative;
}

.u-weixin {
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;

}

.icon_wx {
    position: relative;
    top: 5px;
    margin-right: 5px;
    width: 26px;
    height: 21px;
    background: url("../../img/weixin.png") no-repeat;
    background-size: 100%;
    display: inline-block;

}

.u-useinfo {
    height: 40px;
    font-size: 16px;
}

.u-user li {
    height: 40px;
    float: left;
    position: relative;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.u-mesage a {
    color: #fff;
}

.l-link_fff {
    width: 1px;
    height: 18px;
    background: #fff;
    margin: 0 20px 0 22px;
    display: inline-block;
    vertical-align: middle;
}

.icon-down {
    display: inline-block;
    width: 14px;
    height: 8px;
    background: url("../../img/head-down.png") no-repeat;
    background-size: 100%;
    margin-left: 12px;
}

.u-nav-box {

    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.u-nav-box .logo {
    float: left;
    width: 290px;
    margin: 17px 0;
}

.logo a {
    display: inline-block;
    background: url(../../img/logo.png) no-repeat;
    background-size: 100%;
    width: 160px;
    height: 45px;
    vertical-align: -4px;
}

.logo .loc {
    color: #999;
    cursor: pointer;
    -webkit-user-select: none
}

.logo .loc em {
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    position: relative;
    top: 4px;

}

.tnav_wrap li {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    float: left;
}

.tnav_wrap li a {
    font-size: 18px;
    color: #333;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 30px;
    border-right: 1px solid #999
}

.tnav_wrap li a.nav-on {
    color: #eb3d44;
}

.tnav_wrap li a:hover {
    color: #eb3d44
}

.tnav_wrap .nav-home {

}

.tnav_wrap .nav-home a {
    padding-left: 0px;

}

.tphone {
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    color: #666;
}

.tphone .icon-tphone {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../img/t-phone.png") no-repeat;
    background-size: 100%;
    position: relative;
    top: 3px;
}

.user_info_list {
    position: absolute;
    width: 240px;
    height: auto;
    -webkit-box-shadow: 5px 6px 16px 0px rgba(170, 170, 170, 0.25);
    -moz-box-shadow: 5px 6px 16px 0px rgba(170, 170, 170, 0.25);
    box-shadow: 5px 6px 16px 0px rgba(170, 170, 170, 0.25);
    z-index: 999;
    background: #fff;
    border: 1px solid #e6e6e6;
    display: none;
    top: 41px;
    right: 0;
}

.u-user .pub_list li {
    position: relative;
    float: none;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;

    color: #333333;
    font-size: 14px;
}

.user_info_list img {
    float: left;
    width: 54px;
    height: 54px;
    margin: 24px 15px 24px -5px;
    border-radius: 50%;
}

.u-user .user_info_list .user_info_show {
    height: 98px;
    line-height: 98px;
}

.u-user .user_info_show .user_name {
    display: inline-block;
    font-weight: normal;
    color: #333;

}

.user_info_show a.quit {
    color: #333;
}

.u-user .pub_list i {
    position: absolute;
    left: 20px;
    top: 8px;
}

.icon_text_red {
    background-position: -22px -1301px;
    width: 15px;
    height: 18px;
}

.pub_list p {
    padding-left: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pub_list span {
    position: absolute;
    right: 20px;
    top: 9px;
    background-position: -25px -555px;
    width: 8px;
    height: 14px;
}

.icon_text_sc {
    background-position: -21px -1402px;
    width: 17px;
    height: 18px;
}

.icon_text_mm {
    background-position: -22px -1551px;
    width: 15px;
    height: 18px;
}

.icon_text_qz {
    background-position: -22px -1601px;
    width: 15px;
    height: 18px;
}

.icon_text_gz {
    background-position: -22px -1641px;
    width: 15px;
    height: 16px;
}

.u-userselect:hover .user_info_list {
    display: block;
}

.user-sanjiao {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -7px;
    right: 40px;
}

/*公用底部*/
.foot {
    background: #e6e6e6;
    position: absolute;
    border-bottom: 0;
    left: 0;
    height: 400px;
    width: 100%;
}

.pub_d {
    width: 255px;
    height: 200px;
    border-left: 1px solid #f6f6f6;
    display: inline-block;
    float: left;
}

.pub_d li {

    line-height: 24px;
}

.pub_d li a {
    font-size: 14px;
    color: #666;
}

.pub_d li a:hover {
    text-decoration: underline;
    color: #eb3d44;
}

.pub_d .h-list {
    line-height: 22px;
    font-size: 16px;
    color: #eb3d44;
}

.pub_d ul {
    padding-top: 20px;
    padding-left: 95px;
}

.foot .f-ss {
    border-right: 1px solid #f6f6f6;
    position: relative;
}

.f-weixin, .f-gzh {
    position: absolute;
    font-size: 16px;
    color: #666;
}

.f-weixin img, .f-gzh img {
    width: 90px;
    height: 90px;
}

.f-weixin p, .f-gzh p {
    line-height: 18px;

}

.f-weixin-text, .f-gzh-text {
    margin-top: 9px;
    text-align: center;
}

.f-weixin {
    top: 12px;
    left: 50%;
    width: 90px;
    margin-left: -45px;
}

.f-gzh {
    top: 154px;
    left: 50%;
    width: 90px;
    margin-left: -45px;
}

.f-bottom-text {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    text-align: center;
    position: absolute;
    bottom: 26px;
    width: 100%;
}

.f-bottom-text span {
    margin-right: 16px;
}

/* 右边栏 */
.u-preRight-title {
    padding: 6px 16px;
    background-color: #f0feff;
    color: #333;
    line-height: 26px;
}

/* 常用间距 */
.mr60 {
    margin-right: 60px;
}

/* 常用颜色 */
.highlight-lightcyan {
    color: #00b7ee;
}

/* 亮青色 */
.highlight-cyan {
    color: #46d2b3;
}

/* 青色 */
.highlight-orange {
    color: #ffa664;
}

/* 橙色 */
.highlight-green {
    color: #64d286;
}

/* 绿色 */
.highlight-lightorange {
    color: #fd7357;
}

/* 亮橙色 */
.highlight-red {
    color: #eb3d44;
}

/* 红色 */
.highlight-blue {
    color: #0068b7;
}

/* 蓝色 */
.highlight-333 {
    color: #333;
}

.highlight-666 {
    color: #666;
}

.highlight-999 {
    color: #999;
}

/* 常用字号 */
.size12 {
    font-size: 12px;
}

.size14 {
    font-size: 14px;
}

.size16 {
    font-size: 16px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size22 {
    font-size: 22px;
}

.size24 {
    font-size: 24px;
}

.size28 {
    font-size: 28px;
}

.size28 {
    font-size: 28px;
}

.size30 {
    font-size: 30px;
}

.size36 {
    font-size: 36px;
}

/*弹窗样式*/
.popup {
    position: absolute;
    width: 598px;
    left: 50%;
    margin-left: -299px;
    border: 1px solid #e6e6e6;
    top: 0;
    border-radius: 5px;
    background: #fff;
    display: none;
    -webkit-box-shadow: 5px 6px 16px 0px rgba(170, 170, 170, 0.25);
    -moz-box-shadow: 5px 6px 16px 0px rgba(170, 170, 170, 0.25);
    box-shadow: 5px 6px 16px 0px rgba(170, 170, 170, 0.25);
}

.popup-content h5 {
    text-align: center;
    font-size: 18px;
    color: #333;
    height: 32px;
    line-height: 32px;

    font-weight: normal;
}

.popup-content {
    height: 49px;
    position: relative;
    padding: 7px 0 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.popup-close {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 26px;
    height: 26px;
    background: url("../../img/popup-close.png") no-repeat;
    background-size: 100%;
    cursor: pointer;

}

.u-mt60 {
    margin-top: 60px;
}

/* 自定义下拉 */
.u-select {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.u-select .select-text {
    display: inline-block;
    padding: 0 30px 0 10px;
    width: 300px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
}

.u-select ul {
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 4;
    display: none;
    width: 100%;
    max-height: 170px;
    line-height: 100%;
    overflow-y: auto;
    background: #FFF;
    border-bottom: 1px solid #C3C3C3;
    border-top: 1px solid #C3C3C3;

}

.u-select ul li {
    border-left: 1px solid #C3C3C3;
    color: #666;
    border-right: 1px solid #C3C3C3;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    cursor: pointer;
    transition: padding-left .3s;
    -moz-transition: padding-left .3s;
    -webkit-transition: padding-left .3s;
    -o-transition: padding-left .3s;
}

.u-select ul li:hover,
.u-select ul li.on {
    background: #F1F1F1;
    padding-left: 12px;
}

.u-select .select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
    display: inline-block;
    width: 18px;
    height: 10px;
    background: url("../../img/select-down.png") no-repeat center center;
}
.u-select.toggle ul {
    display: block;
}
.u-select.toggle .select-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*按钮样式*/
.pub-btn {
    width: 300px;
    height: 36px;
    background: #eb3d44;
    font-size: 14px;
    color: #fffefe;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.u-btn-sure {
    color: #fffefe;
    background-color: #eb3d44;
    cursor: pointer;
}

.u-btn-sure:hover {
    background-color: #dd3940;
    transition: background .1s linear;
    -webkit-transition: background .1s linear;
}

.u-btn-sure.disabled {
    background-color: #b3b3b3;
    cursor: default;
}

@keyframes box-in {
    0%, 10% {
        transform: scale(.3, .3);
        -webkit-transform: scale(.3, .3);
        opacity: .2;
    }
    90%, 100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}













