<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
   <meta content="yes" name="apple-mobile-web-app-capable">     
<meta content="black" name="apple-mobile-web-app-status-bar-style">     
<meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置未通过原因</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
   <link rel="stylesheet" href="../../Resources/css/ProjectManagement/setReason.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
    <div class="u-failingReason-box">
      <div class="u-header-box container-fluid">
          <i class="u-header-arrow"></i>
          <p class="u-header-title text-center">李雪的报名信息</p>
          <span class="u-header-add"></span>
      </div>
      <div class="container-fluid u-failingReason-content">
        <div class="row">
          <div class="col-xs-12 u-failingReason-text">
            <p >
              认证未通过认证未通过认证未通过认证未通过认证未通过
            </p>
            <span class="fr">
              2017.04.21
            </span>
          </div>
          <div class="u-failingReason-f col-xs-12">
              <div class="u-failingReason-a">
                  <a href="#">删除</a>
                  <a href="#">修改</a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 u-failingReason-text">
            <p >
              认证未通过认证未通过认证未通过认证未通过认证未通过
            </p>
            <span class="fr">
              2017.04.21
            </span>
          </div>
          <div class="u-failingReason-f col-xs-12">
              <div class="u-failingReason-a">
                  <a href="#">删除</a>
                  <a href="#">修改</a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 u-failingReason-text">
            <p >
              认证未通过认证未通过认证未通过认证未通过认证未通过
            </p>
            <span class="fr">
              2017.04.21
            </span>
          </div>
          <div class="u-failingReason-f col-xs-12">
              <div class="u-failingReason-a">
                  <a href="#">删除</a>
                  <a href="#">修改</a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 u-failingReason-text">
            <p >
              认证未通过认证未通过认证未通过认证未通过认证未通过
            </p>
            <span class="fr">
              2017.04.21
            </span>
          </div>
          <div class="u-failingReason-f col-xs-12">
              <div class="u-failingReason-a">
                  <a href="#">删除</a>
                  <a href="#">修改</a>
              </div>
          </div>
        </div>
      </div>

    </div>
    
</body>
</html>