<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
   <meta content="yes" name="apple-mobile-web-app-capable">     
<meta content="black" name="apple-mobile-web-app-status-bar-style">     
<meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>报名信息详情</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/ProjectManagement/ProjectManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
    <div class="u-infoDetil-box">
        <div class="u-header-box container-fluid">
          <i class="u-header-arrow"></i>
          <p class="u-header-title text-center">李雪的报名信息</p>
        </div>
        <div class="container-fluid u-infoDetile-content">
          <div class="row">
            <div class="col-xs-12">
              <ul>
                                  <li>
                                      <span>姓名：</span>
                                      <span>李雪</span>
                                  </li>
                                  <li>
                                      <span>报名时间：</span>
                                      <span>2017-05-02</span>
                                  </li>
                                  <li>
                                      <span>报名号：</span>
                                      <span>1211566</span>
                                  </li>
                                  <li>
                                      <span>性别：</span>
                                      <span>女</span>
                                  </li>
                                  <li>
                                      <span>年龄：</span>
                                      <span>22</span>
                                  </li>
                                  <li>
                                      <span>学历：</span>
                                      <span>本科</span>
                                  </li>
                                  <li>
                                      <span>报名岗位：</span>
                                      <span>小学教师</span>
                                  </li>
                                  <li>
                                      <span>学历：</span>
                                      <span>本科</span>
                                  </li>
                                  <li>
                                      <span>专业：</span>
                                      <span>文学语言</span>
                                  </li>
                                  <li>
                                      <span>毕业院校：</span>
                                      <span>XXX大学</span>
                                  </li>
                                  <li>
                                      <span>手机号：</span>
                                      <span>1383986534</span>
                                  </li>
                                  <li>
                                      <span>QQ：</span>
                                      <span>56424566</span>
                                  </li>
                                  <li>
                                      <span>邮箱：</span>
                                      <span>564245662qq.com</span>
                                  </li>
                                  <li class="name-Authentication">
                                      <span>实名认证：</span>
                                      <span>已认证</span>
                                  </li>
                                  <li class="teacher-Authentication">
                                      <span>教师资格证认证：</span>
                                      <span>未认证</span>
                                  </li>

                              </ul>
            </div>
          </div>
        </div>
        <div class="u-flow1-foot">
          <div class="row">
                <div class="col-xs-6">
                    <button class="btn u-infoDetil-pass" type="submit">通过审核</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn u-infoDetil-notpass" type="submit">不通过审核</button>
                </div>
          </div>
        </div>

    </div>
    
</body>
</html>