<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
   <meta content="yes" name="apple-mobile-web-app-capable">     
<meta content="black" name="apple-mobile-web-app-status-bar-style">     
<meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改审核信息</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/ProjectManagement/ProjectManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
    <div class="u-modifyAuditInfor-box">
      <div class="u-header-box container-fluid">
        <i class="u-header-arrow"></i>
        <p class="u-header-title text-center">修改</p>
    </div>

      <div class="container-fluid u-flow5-choice">
          <!--姓名-->
        <div class="row">
            <div class="col-xs-4 u-flow5-choice-text">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
            <div class="col-xs-8">
                <input type="text" class=""  placeholder="请输入...">
                
            </div>
        </div>
          <!--性别-->
         <div class="row">
            <div class="col-xs-4 u-flow5-choice-text">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
            <div class="col-xs-8">
                 <input class="multiple-choice" type="radio" name="sex" id="d1">
                 <label for="d1" class="mr66">男</label>
                <input class="multiple-choice" type="radio" name="sex" id="d2">
                <label for="d2">女</label>
            </div>
        </div>
          <!--年龄-->
          <div class="row">
              <div class="col-xs-4 u-flow5-choice-text">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</div>
              <div class="col-xs-8">
                  <input type="text" class=""  placeholder="请输入...">

              </div>
          </div>
          <!--学历-->
          <div class="row">
              <div class="col-xs-4 u-flow5-choice-text">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</div>
              <div class="col-xs-8">
                  <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret">请选择<img src="../../Resources/img/flow5-choice.png" alt=""></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a href="#">岗位一</a></li>
                      <li><a href="#">岗位二</a></li>
                      <li><a href="#">岗位三</a></li>
                      <li><a href="#">岗位四</a></li>
                  </ul>
              </div>
          </div>
          <!--报名岗位-->
         <div class="row">
            <div class="col-xs-4 u-flow5-choice-text">报名岗位：</div>
            <div class="col-xs-8">
                <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret">请选择<img src="../../Resources/img/flow5-choice.png" alt=""></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">岗位一</a></li>
                    <li><a href="#">岗位二</a></li>
                    <li><a href="#">岗位三</a></li>
                    <li><a href="#">岗位四</a></li>
                </ul>
            </div>
        </div>
          <!--身份证号-->
          <div class="row">
              <div class="col-xs-4 u-flow5-choice-text">身份证号：</div>
              <div class="col-xs-8">
                  <input type="text" class=""  placeholder="请输入...">

              </div>
          </div>
          <!--手机号码-->
          <div class="row">
              <div class="col-xs-4 u-flow5-choice-text">手机号码：</div>
              <div class="col-xs-8">
                  <input type="text" class=""  placeholder="请输入...">

              </div>
          </div>
      </div>
    </div>
    
</body>
</html>