<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>修改密码</title>-->
</head>
<body>
<div>
    <h2 class="u-preRight-title size16">修改密码</h2>
    <form class="u-form-box">
        <div class="u-form-group">
            <label for="oldPassword" class="u-control-label size14">旧密码：</label>
            <div class="u-fill"></div>
            <div class="u-control-box">
                <input type="password" class="u-form-control" id="oldPassword">
            </div>
        </div>
        <div class="u-form-group">
            <label for="newPassword" class="u-control-label size14">新密码：</label>
            <div class="u-fill"></div>
            <div class="u-control-box">
                <input type="password" class="u-form-control" id="newPassword">
            </div>
        </div>
        <div class="u-form-group">
            <label for="checkPassword" class="u-control-label size14">再次确认：</label>
            <div class="u-fill"></div>
            <div class="u-control-box size14">
                <input type="password" class="u-form-control" id="checkPassword">
            </div>
        </div>
        <div class="u-btn-box">
            <div class="u-btn-sure u-password-btn">确定</div>
            <div class="u-btn-cancel u-password-btn">取消</div>
        </div>
    </form>
</div>


</body>
</html>