<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>个人认证</title>-->
</head>
<body>
<div class="u-authentication-box">
    <h2 class="u-preRight-title size16">个人认证 > <span class="size14">实名认证</span></h2>

    <div class="u-realName-box">
        <div class="u-realName-left left">
            <h2 class="size14 u-realName-title">上传文件：</h2>
            <div class="size14">
                <p class="left u-upload-address">上传地址</p>
                <div class="u-upload-btn u-btn-sure size14 left">上传</div>
                <div class="clear"></div>
            </div>
            <div class="u-upload-box"></div>
            <div class="u-realName-submit-btn u-btn-sure size14">提交</div>
        </div>
        <hr class="left u-line">
        <div class="u-realName-right left">
            <h2 class="size14 u-realName-title">示例图片（身份证图片）：</h2>
            <div class="u-realName-example">
                <img src="../../Resources/img/identity_card.jpg">
            </div>
        </div>
    </div>
</div>
</body>
</html>