<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>收到的评价</title>-->
</head>
<body>
<div>
    <h2 class="u-preRight-title size16">收到的评价</h2>
    <div class="u-evaluate-list">
        <div class="u-evaluate-item">
            <div class="left u-evaluate-pic">
               <div class="icon_hf u-icon-head"></div>
            </div>
            <div class="right u-evaluate-intro size14">
                <p class="u-evaluate-name">河北敬业公司 <span class="right u-evaluate-time">2017-03-27</span></p>
                <div class="u-evaluate-desc">评价内容</div>
                <p class="u-evaluate-content">衣着整洁干净、仪表气质端庄、形象符合岗位要求；语言表达清晰、有一定的逻辑思维能力和沟通能力、性格外向；</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-evaluate-item">
            <div class="left u-evaluate-pic">
                <div class="icon_hf u-icon-head"></div>
            </div>
            <div class="right u-evaluate-intro size14">
                <p class="u-evaluate-name">河北敬业公司 <span class="right u-evaluate-time">2017-03-27</span></p>
                <div class="u-evaluate-desc">评价内容</div>
                <p class="u-evaluate-content">衣着整洁干净、仪表气质端庄、形象符合岗位要求；语言表达清晰、有一定的逻辑思维能力和沟通能力、性格外向；</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-evaluate-item">
            <div class="left u-evaluate-pic">
                <div class="icon_hf u-icon-head"></div>
            </div>
            <div class="right u-evaluate-intro size14">
                <p class="u-evaluate-name">河北敬业公司 <span class="right u-evaluate-time">2017-03-27</span></p>
                <div class="u-evaluate-desc">评价内容</div>
                <p class="u-evaluate-content">衣着整洁干净、仪表气质端庄、形象符合岗位要求；语言表达清晰、有一定的逻辑思维能力和沟通能力、性格外向；</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-evaluate-item">
            <div class="left u-evaluate-pic">
                <div class="icon_hf u-icon-head"></div>
            </div>
            <div class="right u-evaluate-intro size14">
                <p class="u-evaluate-name">河北敬业公司 <span class="right u-evaluate-time">2017-03-27</span></p>
                <div class="u-evaluate-desc">评价内容</div>
                <p class="u-evaluate-content">衣着整洁干净、仪表气质端庄、形象符合岗位要求；语言表达清晰、有一定的逻辑思维能力和沟通能力、性格外向；</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-evaluate-item">
            <div class="left u-evaluate-pic">
                <div class="icon_hf u-icon-head"></div>
            </div>
            <div class="right u-evaluate-intro size14">
                <p class="u-evaluate-name">河北敬业公司 <span class="right u-evaluate-time">2017-03-27</span></p>
                <div class="u-evaluate-desc">评价内容</div>
                <p class="u-evaluate-content">衣着整洁干净、仪表气质端庄、形象符合岗位要求；语言表达清晰、有一定的逻辑思维能力和沟通能力、性格外向；</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-evaluate-item">
            <div class="left u-evaluate-pic">
                <div class="icon_hf u-icon-head"></div>
            </div>
            <div class="right u-evaluate-intro size14">
                <p class="u-evaluate-name">河北敬业公司 <span class="right u-evaluate-time">2017-03-27</span></p>
                <div class="u-evaluate-desc">评价内容</div>
                <p class="u-evaluate-content">衣着整洁干净、仪表气质端庄、形象符合岗位要求；语言表达清晰、有一定的逻辑思维能力和沟通能力、性格外向；</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="M-box"></div>
</div>

<script>
    $('.M-box').pagination({
        coping:true,
        homePage:'首页',
        endPage:'末页',
        prevContent:'上一页',
        nextContent:'下一页'
    });
</script>
</body>
</html>