<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>项目岗位</title>-->
</head>
<body>
<div class="u-authentication-box">
    <h2 class="u-preRight-title size16">求职进展 > <span class="size14">项目岗位</span></h2>

    <div class="u-jobProgress-box">
        <div class="u-jobProgress-item">
            <div class="u-project-into size14">
                <p class="left size16">学而思培训学校招聘客服</p>
                <p class="u-status">当前流程：<span class="u-bulletin highlight-red">公告</span></p>
                <p class="u-item right">投递时间：2016-03-23</p>
                <div class="clear"></div>
            </div>
            <div class="u-project-desc size14">
                珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要服务性栏目主要的合作伙伴
            </div>
        </div>
        <div class="u-jobProgress-item">
            <div class="u-project-into size14">
                <p class="left size16">学而思培训学校招聘客服</p>
                <p class="u-status">当前流程：<span class="u-bulletin highlight-red">公告</span></p>
                <p class="u-item right">投递时间：2016-03-23</p>
                <div class="clear"></div>
            </div>
            <div class="u-project-desc size14">
                珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要服务性栏目主要的合作伙伴
            </div>
        </div>
        <div class="u-jobProgress-item">
            <div class="u-project-into size14">
                <p class="left size16">学而思培训学校招聘客服</p>
                <p class="u-status">当前流程：<span class="u-bulletin highlight-red">公告</span></p>
                <p class="u-item right">投递时间：2016-03-23</p>
                <div class="clear"></div>
            </div>
            <div class="u-project-desc size14">
                珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要服务性栏目主要的合作伙伴
            </div>
        </div>
        <div class="u-jobProgress-item">
            <div class="u-project-into size14">
                <p class="left size16">学而思培训学校招聘客服</p>
                <p class="u-status">当前流程：<span class="u-bulletin highlight-red">公告</span></p>
                <p class="u-item right">投递时间：2016-03-23</p>
                <div class="clear"></div>
            </div>
            <div class="u-project-desc size14">
                珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要服务性栏目主要的合作伙伴
            </div>
        </div>
        <div class="u-jobProgress-item">
            <div class="u-project-into size14">
                <p class="left size16">学而思培训学校招聘客服</p>
                <p class="u-status">当前流程：<span class="u-bulletin highlight-red">公告</span></p>
                <p class="u-item right">投递时间：2016-03-23</p>
                <div class="clear"></div>
            </div>
            <div class="u-project-desc size14">
                珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要服务性栏目主要的合作伙伴
            </div>
        </div>
    </div>
    <div class="u-popover-shadow j-popover-shadow"></div>
    <div class="u-popover-box j-popover-box">
        <div class="u-head size18">竞争力统计 <span class="popup-close j-popup-close"></span></div>
        <div class="u-content">
            <div class="u-item">
                <h2 class="u-item-name size16">性別比例：</h2>
                <div class="u-item-data size14">
                    <p class="left">男：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <div class="clear"></div>
                    </p>
                </div>
            </div>
            <div class="u-item">
                <h2 class="u-item-name size16">年齡比例：</h2>
                <div class="u-item-data size14">
                    <p class="left">男：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <div class="clear"></div>
                    </p>
                </div>
            </div>
            <div class="u-item">
                <h2 class="u-item-name size16">工作比例：</h2>
                <div class="u-item-data size14">
                    <p class="left">男：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <div class="clear"></div>
                    </p>
                </div>
            </div>
            <div class="u-item">
                <h2 class="u-item-name size16">学历比例：</h2>
                <div class="u-item-data size14">
                    <p class="left">男：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <p class="left">女：<span>54%</span></p>
                    <div class="clear"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="M-box"></div>
</div>

<script>
    $(function () {
        $('.j-show-comp').on('click',function () {
          $('.j-popover-shadow').show();
          $('.j-popover-box').show();
        });
        $('.j-popup-close').on('click',function () {
            $('.j-popover-shadow').hide()           ;
            $('.j-popover-box').hide();
        });

        $('.M-box').pagination({
            coping:true,
            homePage:'首页',
            endPage:'末页',
            prevContent:'上一页',
            nextContent:'下一页'
        });
    });
</script>
</body>
</html>