<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>个人认证</title>-->
</head>
<body>
<div class="u-authentication-box">
    <h2 class="u-preRight-title size16">求职进展 > <span class="size14">普通职位</span></h2>

    <div class="u-jobProgress-box">
        <div class="u-jobProgress-item">
            <div class="u-info size16">
                <p class="inline_block">内部招待员</p><span class="u-vertical-line"></span><p class="inline_block">诺亚人力资源有限公司</p>
            </div>
            <div class="u-message size14">
                <p class="left">投递状态：<span class="highlight-red">面试邀约</span></p>
                <p class="u-time">投递时间：2016-03-23</p>
                <a class="highlight-red right">查看竞争力统计</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>