<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>我的收藏</title>-->
</head>
<body>
<div class="u-collectProject-box">
    <div class="u-collect-list">
        <div class="u-collect-item u-box-shadow">
            <div class="left u-company-pic">
                <img src="../../Resources/img/recruit-img.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">学而思培训学校招聘客服</p>
                <div class="size14">
                    当前流程：公告
                </div>
                <p class="size14 u-collect-time">珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要社会服务性栏目主要的合作伙伴...</p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item u-box-shadow">
            <div class="left u-company-pic">
                <img src="../../Resources/img/recruit-img.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">学而思培训学校招聘客服</p>
                <div class="size14">
                    当前流程：公告
                </div>
                <p class="size14 u-collect-time">珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要社会服务性栏目主要的合作伙伴...</p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item u-box-shadow">
            <div class="left u-company-pic">
                <img src="../../Resources/img/recruit-img.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">学而思培训学校招聘客服</p>
                <div class="size14">
                    当前流程：公告
                </div>
                <p class="size14 u-collect-time">珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要社会服务性栏目主要的合作伙伴...</p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item u-box-shadow">
            <div class="left u-company-pic">
                <img src="../../Resources/img/recruit-img.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">学而思培训学校招聘客服</p>
                <div class="size14">
                    当前流程：公告
                </div>
                <p class="size14 u-collect-time">珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要社会服务性栏目主要的合作伙伴...</p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item u-box-shadow">
            <div class="left u-company-pic">
                <img src="../../Resources/img/recruit-img.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">学而思培训学校招聘客服</p>
                <div class="size14">
                    当前流程：公告
                </div>
                <p class="size14 u-collect-time">珍爱网（www.zhenai.com）是国内最知名的婚恋服务网站之一，同时也是江苏卫视《非诚勿扰》等各大电视台主要社会服务性栏目主要的合作伙伴...</p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="M-box"></div>
</div>

<script>
    $('.M-box').pagination({
        coping:true,
        homePage:'首页',
        endPage:'末页',
        prevContent:'上一页',
        nextContent:'下一页'
    });
</script>
</body>
</html>