<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>我的收藏</title>-->
</head>
<body>
<div>
    <div class="u-collect-list">
        <div class="u-collect-item">
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">河北敬业集团</p>
                <div class="size14">
                    地址：桥西中华南大街
                </div>
                <p class="size14 u-collect-time"><span class="mr60">行业：建筑建材</span><span>企业性质：国企</span></p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">河北敬业集团</p>
                <div class="size14">
                    地址：桥西中华南大街
                </div>
                <p class="size14 u-collect-time"><span class="mr60">行业：建筑建材</span><span>企业性质：国企</span></p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">河北敬业集团</p>
                <div class="size14">
                    地址：桥西中华南大街
                </div>
                <p class="size14 u-collect-time"><span class="mr60">行业：建筑建材</span><span>企业性质：国企</span></p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">河北敬业集团</p>
                <div class="size14">
                    地址：桥西中华南大街
                </div>
                <p class="size14 u-collect-time"><span class="mr60">行业：建筑建材</span><span>企业性质：国企</span></p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">河北敬业集团</p>
                <div class="size14">
                    地址：桥西中华南大街
                </div>
                <p class="size14 u-collect-time"><span class="mr60">行业：建筑建材</span><span>企业性质：国企</span></p>
            </div>
            <div class="right u-enterprise-btn-box">
                <div class="u-enterprise-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="M-box"></div>
</div>

<script>
    $('.M-box').pagination({
        coping:true,
        homePage:'首页',
        endPage:'末页',
        prevContent:'上一页',
        nextContent:'下一页'
    });
</script>
</body>
</html>