<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>我的收藏</title>-->
</head>
<body>
<div>
    <div class="u-collect-list">
        <div class="u-collect-item">
            <div class="u-rapid"><div class="u-rapid-bg"></div><span>急</span></div>
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">内部招聘员 <span class="u-collect-cost size18">80元/天</span></p>
                <div class="size14">
                    上东城区 <span class="u-vertical-line"></span>
                    兼职 <span class="u-vertical-line"></span>
                    日结 <span class="u-vertical-line"></span>
                    五险一金
                    <span class="u-meal-allowance">餐补</span>
                </div>
                <p class="size14 u-collect-time">1小时前发布</p>
            </div>
            <div class="right u-post-btn-box">
                <div class="u-post-btn u-btn-sure size16 left">投简历</div>
                <div class="u-post-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="u-rapid"><div class="u-rapid-bg"></div><span>急</span></div>
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">内部招聘员 <span class="u-collect-cost size18">80元/天</span></p>
                <div class="size14">
                    上东城区 <span class="u-vertical-line"></span>
                    兼职 <span class="u-vertical-line"></span>
                    日结 <span class="u-vertical-line"></span>
                    五险一金
                    <span class="u-meal-allowance">餐补</span>
                </div>
                <p class="size14 u-collect-time">1小时前发布</p>
            </div>
            <div class="right u-post-btn-box">
                <div class="u-post-btn u-btn-sure size16 left">投简历</div>
                <div class="u-post-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="u-rapid"><div class="u-rapid-bg"></div><span>急</span></div>
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">内部招聘员 <span class="u-collect-cost size18">80元/天</span></p>
                <div class="size14">
                    上东城区 <span class="u-vertical-line"></span>
                    兼职 <span class="u-vertical-line"></span>
                    日结 <span class="u-vertical-line"></span>
                    五险一金
                    <span class="u-meal-allowance">餐补</span>
                </div>
                <p class="size14 u-collect-time">1小时前发布</p>
            </div>
            <div class="right u-post-btn-box">
                <div class="u-post-btn u-btn-sure size16 left">投简历</div>
                <div class="u-post-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="u-rapid"><div class="u-rapid-bg"></div><span>急</span></div>
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">内部招聘员 <span class="u-collect-cost size18">80元/天</span></p>
                <div class="size14">
                    上东城区 <span class="u-vertical-line"></span>
                    兼职 <span class="u-vertical-line"></span>
                    日结 <span class="u-vertical-line"></span>
                    五险一金
                    <span class="u-meal-allowance">餐补</span>
                </div>
                <p class="size14 u-collect-time">1小时前发布</p>
            </div>
            <div class="right u-post-btn-box">
                <div class="u-post-btn u-btn-sure size16 left">投简历</div>
                <div class="u-post-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="u-collect-item">
            <div class="u-rapid"><div class="u-rapid-bg"></div><span>急</span></div>
            <div class="left u-company-pic">
                <img src="../../Resources/img/pic_collect_company.jpg">
            </div>
            <div class="left u-collect-intro">
                <p class="u-collect-name size16">内部招聘员 <span class="u-collect-cost size18">80元/天</span></p>
                <div class="size14">
                    上东城区 <span class="u-vertical-line"></span>
                    兼职 <span class="u-vertical-line"></span>
                    日结 <span class="u-vertical-line"></span>
                    五险一金
                    <span class="u-meal-allowance">餐补</span>
                </div>
                <p class="size14 u-collect-time">1小时前发布</p>
            </div>
            <div class="right u-post-btn-box">
                <div class="u-post-btn u-btn-sure size16 left">投简历</div>
                <div class="u-post-btn u-btn-cancel size16 left">取消收藏</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="M-box"></div>
</div>

<script>
    $('.M-box').pagination({
        coping:true,
        homePage:'首页',
        endPage:'末页',
        prevContent:'上一页',
        nextContent:'下一页'
    });
</script>
</body>
</html>