<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>我的简历</title>-->

</head>
<body>
<div class="u-myResume-box">
    <div class="u-myResume-head">
        <div class="u-circle-progss left j-circle-progss" data-value="75">
            <div class="u-circle-bg-white"></div>
            <div class="u-circle-left-box j-circle-left-box">
                <div class="u-circle-left u-circle-bg-gray j-circle-left"></div>
            </div>
            <div class="u-circle-right-box j-circle-right-box">
                <div class="u-circle-right j-circle-right"></div>
            </div>
            <p class="u-circle-label size14">完整度 <br><span class="size14 highlight-red">75%</span></p>
        </div>
        <p class="u-head-name left highlight-666 size16">我的简历</p>
        <p class="u-pudate-time left highlight-999 size16">更新时间：<span>2017-02-01</span></p>
        <div class="u-refresh left size14">
            <div class="u-refresh-bg icon_hf"></div>
            刷新简历
        </div>
        <div class="u-view right size14 j-preview-btn">
            <div class="u-view-bg icon_hf"></div>
            简历预览
        </div>
        <div class="clear"></div>
    </div>
    <div class="u-collect-btn-box j-collect-btn-box">
        <div class="u-collect-btn size16 j-collect-btn left select" data-toggle="basic">基本信息</div>
        <div class="u-collect-btn size16 j-collect-btn left" data-toggle="main">求职意向</div>
        <div class="u-collect-btn size16 j-collect-btn left" data-toggle="education">教育经历</div>
        <div class="u-collect-btn size16 j-collect-btn left" data-toggle="work">工作经验</div>
        <div class="u-collect-btn size16 j-collect-btn left" data-toggle="project">项目经验</div>
        <div class="u-collect-btn size16 j-collect-btn left" data-toggle="skill">特殊技能</div>
        <div class="u-collect-btn size16 j-collect-btn left" data-toggle="introduction">自我介绍</div>
        <div class="clear"></div>
    </div>

    <div class="u-content-box j-content-box">
        <!-- 基本信息 -->
        <div class="u-content j-content basic">
            <div class="u-user-pic left">
                <img src="../../Resources/img/user_img_lg.jpg">
            </div>
            <div class="u-user-message-box left size14">
                <div class="u-user-message-side">
                    <ul class="u-message-ul">
                        <li class="u-user-label">姓名：</li>
                        <li class="u-user-input">李雪</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">出生年月：</li>
                        <li class="u-user-input">1993年06月</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">学历：</li>
                        <li class="u-user-input">本科</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">邮箱：</li>
                        <li class="u-user-input">2156335641@qq.com</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">电话：</li>
                        <li class="u-user-input">15632645236</li>
                    </ul>
                </div>
                <div class="u-user-message-side">
                    <ul class="u-message-ul">
                        <li class="u-user-label">工作经验：</li>
                        <li class="u-user-input">三年</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">婚姻状况：</li>
                        <li class="u-user-input">未婚</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">政治面貌：</li>
                        <li class="u-user-input">团员</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">现居住地：</li>
                        <li class="u-user-input">北京市昌平区</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">户口所在地：</li>
                        <li class="u-user-input">北京市海淀区</li>
                    </ul>
                </div>
            </div>
            <div class="u-user-aditor size16 j-btn-aditor" data-toggle="basic"><span class="icon_hf"></span>修改</div>
            <div class="clear"></div>
        </div>
        <!-- 基本信息 -->

        <!-- 求职意向 -->
        <div class="u-content hide j-content main">
            <div class="u-user-message-box size14">
                <div class="u-user-message-side">
                    <ul class="u-message-ul">
                        <li class="u-user-label">工作性质：</li>
                        <li class="u-user-input">全职</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">工作地点：</li>
                        <li class="u-user-input">北京</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">职位类别：</li>
                        <li class="u-user-input">平面设计师</li>
                    </ul>
                </div>
                <div class="u-user-message-side">
                    <ul class="u-message-ul">
                        <li class="u-user-label">期望薪酬：</li>
                        <li class="u-user-input">6K-8K</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">行业类别：</li>
                        <li class="u-user-input">软件开发</li>
                    </ul>
                    <ul class="u-message-ul">
                        <li class="u-user-label">求职状态：</li>
                        <li class="u-user-input">目前正处于求职状态，可即刻上岗</li>
                    </ul>
                </div>
            </div>
            <div class="u-user-aditor size16 j-btn-aditor" data-toggle="main"><span class="icon_hf"></span>修改</div>
        </div>
        <!-- 求职意向 -->

        <!-- 教育经历 -->
        <div class="u-content hide j-content education">
            <div class="u-content-list size14 highlight-666">
                <div class="u-content-item">
                    <h2 class="u-title">XXX学校</h2>
                    <div class="u-inform">
                        <p class="left">本科</p>
                        <p class="left">软件工程</p>
                        <p class="left">2012.9-2016.7</p>
                        <div class="right">
                            <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="education"></span>
                            <span class="u-btn-delete icon_hf"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="u-content-item">
                    <h2 class="u-title">XXX学校</h2>
                    <div class="u-inform">
                        <p class="left">本科</p>
                        <p class="left">软件工程</p>
                        <p class="left">2012.9-2016.7</p>
                        <div class="right">
                            <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="education"></span>
                            <span class="u-btn-delete icon_hf"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="u-btn-box">
                <div class="u-btn-add size16 j-btn-add" data-toggle="education">添加教育经历</div>
            </div>

        </div>
        <!-- 教育经历 -->

        <!-- 工作经验 -->
        <div class="u-content hide j-content work">
            <div class="u-content-list size14 highlight-666">
                <div class="u-content-item">
                    <h2 class="u-title">XXX公司</h2>
                    <div class="u-inform">
                        <p class="left">技术部门</p>
                        <p class="left">UI实习生</p>
                        <p class="left">实习</p>
                        <p class="left">2012.9-2016.7</p>
                        <div class="right">
                            <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="work"></span>
                            <span class="u-btn-delete icon_hf"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="u-desc">
                        工作描述：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                    </div>
                </div>
                <div class="u-content-item">
                    <h2 class="u-title">XXX公司</h2>
                    <div class="u-inform">
                        <p class="left">技术部门</p>
                        <p class="left">UI实习生</p>
                        <p class="left">实习</p>
                        <p class="left">2012.9-2016.7</p>
                        <div class="right">
                            <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="work"></span>
                            <span class="u-btn-delete icon_hf"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="u-desc">
                        工作描述：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                    </div>
                </div>
            </div>
            <div class="u-btn-box">
                <div class="u-btn-add size16 j-btn-add" data-toggle="work">添加工作经验</div>
            </div>
        </div>
        <!-- 工作经验 -->

        <!-- 项目经验 -->
        <div class="u-content hide j-content project">
            <div class="u-content-list size14 highlight-666">
                <div class="u-content-item">
                    <h2 class="u-title">XXX项目</h2>
                    <div class="u-inform">
                        <p class="left">XXX技能</p>
                        <p class="left">eclipse</p>
                        <p class="left">2012.9-2016.7</p>
                        <div class="right">
                            <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="project"></span>
                            <span class="u-btn-delete icon_hf"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="u-desc">
                        项目描述：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                    </div>
                    <div class="u-desc">
                        项目职责：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                    </div>
                </div>
            </div>
            <div class="u-btn-box">
                <div class="u-btn-add size16 j-btn-add" data-toggle="project">添加项目经验</div>
            </div>
        </div>
        <!-- 项目经验 -->

        <!-- 特殊技能 -->
        <div class="u-content hide j-content skill">
            <div class="u-skill-message size14 highlight-666">
                <span>熟练英语</span>
                <span>精通JAVA语言</span>
                <span>熟练使用各种平面软件</span>
            </div>
            <div class="u-user-aditor size16 j-btn-aditor" data-toggle="skill"><span class="icon_hf"></span>修改</div>
        </div>
        <!-- 特殊技能 -->

        <!-- 自我介绍 -->
        <div class="u-content hide j-content introduction">
            <div class="u-skill-message size14 highlight-666">
                我性格开朗、思维活跃；拥有年轻人的潮气蓬勃，做事有责任心，条理性强；易与人相处，对工作充满热情，情分好学，敢挑重担，具有很强的团队精神和协调能力。在为人方面，我诚实善良、开朗自信，能够吃苦。在生活中，我尊敬他人，能够和别人友好相处，现在我位移的不足就是应届毕业，还没有足够的工作经验。但我擅长快速学习新知识，并且对工作有高度责任感，能够全身心的为工作奉献。所以，希望您给我这个机会，我有充足的信心。
            </div>
            <div class="u-user-aditor size16 j-btn-aditor" data-toggle="skill"><span class="icon_hf"></span>修改</div>
        </div>
        <!-- 自我介绍 -->
    </div>

    <div class="u-popover-shadow j-popover-shadow"></div>
    <!-- 编辑基本信息 -->
    <div class="u-popover-box j-popover-box basic">
        <div class="u-head size18 highlight-666">基本信息</div>
        <div class="u-content u-form size14 highlight-666">
            <div class="u-item">
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">姓名：</span>
                        <input class="u-input" type="text"/>
                    </li>
                    <li>
                        <span class="u-label">工作经验：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">年龄：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">婚姻状况：</span>
                        <input class="u-radio" type="radio" id="married" name="marry" checked="checked">
                        <label for="married" class="u-label-radio">已婚</label>
                        <input class="u-radio" type="radio" id="unmarried" name="marry">
                        <label for="unmarried" class="u-label-radio">未婚</label>
                    </li>
                    <li>
                        <span class="u-label">电话：</span>
                        <input class="u-input" type="text"/>
                    </li>
                </ul>
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">性别：</span>
                        <input class="u-radio" type="radio" id="boy" name="sex" checked="checked">
                        <label for="boy" class="u-label-radio">男</label>
                        <input class="u-radio" type="radio" id="girl" name="sex">
                        <label for="girl" class="u-label-radio">女</label>
                    </li>
                    <li>
                        <span class="u-label">学历：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">政治面貌：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">邮箱：</span>
                        <input class="u-input" type="text"/>
                    </li>
                    <li>
                        <span class="u-label">户口所在地：</span>
                        <select class="u-select-sm" name="">
                            <option value=""></option>
                        </select>
                        <select class="u-select-sm" name="">
                            <option value=""></option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="u-item">
                <div>
                    <span class="u-label">现居住地：</span>
                    <select class="u-select-sm" name="">
                        <option value=""></option>
                    </select>
                    <select class="u-select-sm" name="">
                        <option value=""></option>
                    </select>
                    <select class="u-select-sm" name="">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="u-foot">
            <div class="u-foot-btn u-btn-sure j-btn-sure">确定</div>
            <div class="u-foot-btn u-btn-cancel j-btn-cancel">取消</div>
        </div>
    </div>
    <!-- 编辑基本信息 -->
    <!-- 编辑求职意向 -->
    <div class="u-popover-box j-popover-box main">
        <div class="u-head size18 highlight-666">求职意向</div>
        <div class="u-content u-form size14 highlight-666">
            <div class="u-item">
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">工作性质：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">工作地点：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">职位类别：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                </ul>
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">期望薪酬：</span>
                        <span class="u-input-box">
                            <input type="number"/>
                        <span class="u-input-tips">K</span>
                        </span>
                        <span class="u-line"></span>
                        <span class="u-input-box">
                          <input type="number"/>
                        <span class="u-input-tips">K</span>
                        </span>
                    </li>
                    <li>
                        <span class="u-label">行业类别：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">求职状态：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <div class="u-foot">
            <div class="u-foot-btn u-btn-sure j-btn-sure">确定</div>
            <div class="u-foot-btn u-btn-cancel j-btn-cancel">取消</div>
        </div>
    </div>
    <!-- 编辑求职意向 -->
    <!-- 添加/编辑教育经历 -->
    <div class="u-popover-box j-popover-box education">
        <div class="u-head size18 highlight-666">教育经历</div>
        <div class="u-content u-form size14 highlight-666">
            <div class="u-item">
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">开始时间：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">学校名称：</span>
                        <input class="u-input" type="text"/>
                    </li>
                    <li>
                        <span class="u-label">学历：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                </ul>
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">结束时间：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">专业：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <div class="u-foot">
            <div class="u-foot-btn u-btn-sure j-btn-sure">确定</div>
            <div class="u-foot-btn u-btn-cancel j-btn-cancel">取消</div>
        </div>
    </div>
    <!-- 添加/编辑教育经历 -->
    <!-- 添加/编辑工作经验 -->
    <div class="u-popover-box j-popover-box work">
        <div class="u-head size18 highlight-666">工作经验</div>
        <div class="u-content u-form size14 highlight-666">
            <div class="u-item">
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">开始时间：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">公司名称：</span>
                        <input class="u-input" type="text"/>
                    </li>
                    <li>
                        <span class="u-label">所在部门：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                </ul>
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">结束时间：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">工作性质：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">职务：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="u-item">
                <div>
                    <span class="u-label u-textarea-label">工作描述：</span>
                    <textarea class="u-textarea" placeholder="请输入"></textarea>
                </div>
            </div>
        </div>
        <div class="u-foot">
            <div class="u-foot-btn u-btn-sure j-btn-sure">确定</div>
            <div class="u-foot-btn u-btn-cancel j-btn-cancel">取消</div>
        </div>
    </div>
    <!-- 添加/编辑工作经验 -->
    <!-- 添加/编辑项目经验 -->
    <div class="u-popover-box j-popover-box project">
        <div class="u-head size18 highlight-666">项目经验</div>
        <div class="u-content u-form size14 highlight-666">
            <div class="u-item">
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">开始时间：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">项目名称：</span>
                        <input class="u-input" type="text"/>
                    </li>
                    <li>
                        <span class="u-label">技能名称：</span>
                        <input class="u-input" type="text"/>
                    </li>
                </ul>
                <ul class="u-form-group">
                    <li>
                        <span class="u-label">结束时间：</span>
                        <select class="u-select" name="">
                            <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <span class="u-label">项目工具：</span>
                        <input class="u-input" type="text"/>
                    </li>
                </ul>
            </div>
            <div class="u-item">
                <div>
                    <span class="u-label u-textarea-label">项目描述：</span>
                    <textarea class="u-textarea" placeholder="请输入"></textarea>
                </div>
            </div>
            <div class="u-item">
                <div>
                    <span class="u-label u-textarea-label">项目职责：</span>
                    <textarea class="u-textarea" placeholder="请输入"></textarea>
                </div>
            </div>
        </div>
        <div class="u-foot">
            <div class="u-foot-btn u-btn-sure j-btn-sure">确定</div>
            <div class="u-foot-btn u-btn-cancel j-btn-cancel">取消</div>
        </div>
    </div>
    <!-- 添加/编辑项目经验 -->
    <!-- 编辑特殊技能 -->
    <div class="u-popover-box j-popover-box skill">
        <div class="u-head size18 highlight-666">特殊技能</div>
        <div class="u-content u-form size14 highlight-666">
            <textarea class="u-textarea u-textarea-lg"></textarea>
        </div>
        <div class="u-foot">
            <div class="u-foot-btn u-btn-sure j-btn-sure">确定</div>
            <div class="u-foot-btn u-btn-cancel j-btn-cancel">取消</div>
        </div>
    </div>
    <!-- 编辑特殊技能 -->
    <!-- 编辑自我介绍 -->
    <div class="u-popover-box j-popover-box skill">
        <div class="u-head size18 highlight-666">自我介绍</div>
        <div class="u-content u-form size14 highlight-666">
            <textarea class="u-textarea u-textarea-lg"></textarea>
        </div>
        <div class="u-foot">
            <div class="u-foot-btn u-btn-sure j-btn-sure">确定</div>
            <div class="u-foot-btn u-btn-cancel j-btn-cancel">取消</div>
        </div>
    </div>
    <!-- 编辑自我介绍 -->
    <!-- 简历预览 -->
    <div class="u-popover-shadow j-popover-preview-shadow black">
        <div class="u-popover-preview-box j-popover-preview-box">
            <div class="u-popover-head">
                <div class="u-head-img">
                    <img src="../../Resources/img/user_img_lg.jpg">
                </div>
                <p class="u-head-name size24 highlight-666">XXX的简历</p>
            </div>
            <div class="u-popover-content">
                <div class="u-popover-content-item">
                    <h2 class="u-content-title size18 highlight-666">基本信息 <span
                            class="u-user-aditor size16 right highlight-red"><span class="icon_editor"></span>编辑</span>
                    </h2>
                    <div class="u-user-message-box hightlight-666 size14">
                        <div class="u-user-message-side">
                            <ul class="u-message-ul">
                                <li class="u-user-label sm">年龄：</li>
                                <li class="u-user-input sm">21</li>
                                <li class="u-user-label sm">学历：</li>
                                <li class="u-user-input sm">本科</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">现居住地：</li>
                                <li class="u-user-input">北京市昌平区</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">邮箱：</li>
                                <li class="u-user-input">2156335641@qq.com</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">电话：</li>
                                <li class="u-user-input">15632645236</li>
                            </ul>
                        </div>
                        <div class="u-user-message-side">
                            <ul class="u-message-ul">
                                <li class="u-user-label">工作经验：</li>
                                <li class="u-user-input">三年</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">婚姻状况：</li>
                                <li class="u-user-input">未婚</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">政治面貌：</li>
                                <li class="u-user-input">团员</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">户口所在地：</li>
                                <li class="u-user-input">北京市海淀区</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="u-popover-content-item">
                    <h2 class="u-content-title size18 highlight-666">求职意向 <span
                            class="u-user-aditor size16 right highlight-red"><span class="icon_editor"></span>编辑</span>
                    </h2>
                    <div class="u-user-message-box hightlight-666 size14">
                        <div class="u-user-message-side">
                            <ul class="u-message-ul">
                                <li class="u-user-label">工作性质：</li>
                                <li class="u-user-input">全职</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">工作地点：</li>
                                <li class="u-user-input">北京</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">职位类别：</li>
                                <li class="u-user-input">平面设计师</li>
                            </ul>
                        </div>
                        <div class="u-user-message-side">
                            <ul class="u-message-ul">
                                <li class="u-user-label">期望薪酬：</li>
                                <li class="u-user-input">6K-8K</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">行业类别：</li>
                                <li class="u-user-input">软件开发</li>
                            </ul>
                            <ul class="u-message-ul">
                                <li class="u-user-label">求职状态：</li>
                                <li class="u-user-input">目前正处于求职状态，可即刻上岗</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="u-popover-content-item">
                    <h2 class="u-content-title size18 highlight-666">教育经历 <span
                            class="u-user-add size16 right highlight-red"><span class="icon_hf"></span>添加</span></h2>
                    <div class="u-content-list size14 highlight-666">
                        <div class="u-content-item">
                            <h2 class="u-title">XXX学校</h2>
                            <div class="u-inform">
                                <p class="left">本科</p>
                                <p class="left">软件工程</p>
                                <p class="left">2012.9-2016.7</p>
                                <div class="right">
                                    <span class="u-btn-modify icon_hf"></span>
                                    <span class="u-btn-delete icon_hf"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="u-content-item">
                            <h2 class="u-title">XXX学校</h2>
                            <div class="u-inform">
                                <p class="left">本科</p>
                                <p class="left">软件工程</p>
                                <p class="left">2012.9-2016.7</p>
                                <div class="right">
                                    <span class="u-btn-modify icon_hf"></span>
                                    <span class="u-btn-delete icon_hf"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-popover-content-item">
                    <h2 class="u-content-title size18 highlight-666">工作经验 <span
                            class="u-user-add size16 right highlight-red"><span class="icon_hf"></span>添加</span></h2>
                    <div class="u-content-list size14 highlight-666">
                        <div class="u-content-item">
                            <h2 class="u-title">XXX公司</h2>
                            <div class="u-inform">
                                <p class="left">技术部门</p>
                                <p class="left">UI实习生</p>
                                <p class="left">实习</p>
                                <p class="left">2012.9-2016.7</p>
                                <div class="right">
                                    <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="work"></span>
                                    <span class="u-btn-delete icon_hf"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="u-desc">
                                工作描述：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                            </div>
                        </div>
                        <div class="u-content-item">
                            <h2 class="u-title">XXX公司</h2>
                            <div class="u-inform">
                                <p class="left">技术部门</p>
                                <p class="left">UI实习生</p>
                                <p class="left">实习</p>
                                <p class="left">2012.9-2016.7</p>
                                <div class="right">
                                    <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="work"></span>
                                    <span class="u-btn-delete icon_hf"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="u-desc">
                                工作描述：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-popover-content-item">
                    <h2 class="u-content-title size18 highlight-666">项目经验 <span
                            class="u-user-add size16 right highlight-red"><span class="icon_hf"></span>添加</span></h2>
                    <div class="u-content-list size14 highlight-666">
                        <div class="u-content-item">
                            <h2 class="u-title">XXX项目</h2>
                            <div class="u-inform">
                                <p class="left">XXX技能</p>
                                <p class="left">eclipse</p>
                                <p class="left">2012.9-2016.7</p>
                                <div class="right">
                                    <span class="u-btn-modify icon_hf j-btn-modify" data-toggle="project"></span>
                                    <span class="u-btn-delete icon_hf"></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="u-desc">
                                项目描述：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                            </div>
                            <div class="u-desc">
                                项目职责：描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容描述内容
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-popover-content-item">
                    <h2 class="u-content-title size18 highlight-666">特殊技能 <span
                            class="u-user-aditor size16 right highlight-red"><span class="icon_editor"></span>编辑</span>
                    </h2>
                    <div class="u-skill-message size14 highlight-666">
                        <span>熟练英语</span>
                        <span>精通JAVA语言</span>
                        <span>熟练使用各种平面软件</span>
                    </div>
                </div>
                <div class="u-popover-content-item">
                    <h2 class="u-content-title size18 highlight-666">自我介绍 <span
                            class="u-user-aditor size16 right highlight-red"><span class="icon_editor"></span>编辑</span>
                    </h2>
                    <div class="u-skill-message size14 highlight-666">
                        我性格开朗、思维活跃；拥有年轻人的潮气蓬勃，做事有责任心，条理性强；易与人相处，对工作充满热情，情分好学，敢挑重担，具有很强的团队精神和协调能力。在为人方面，我诚实善良、开朗自信，能够吃苦。在生活中，我尊敬他人，能够和别人友好相处，现在我位移的不足就是应届毕业，还没有足够的工作经验。但我擅长快速学习新知识，并且对工作有高度责任感，能够全身心的为工作奉献。所以，希望您给我这个机会，我有充足的信心。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 简历预览 -->
</div>
<script>
    $(function () {
        // 简历完成度圆形
        if ($('.j-circle-progss').length > 0) {
            var degreeA = 0;
            var degreeB = 0;
            var circleAngle = $('.j-circle-progss').attr('data-value') * 0.01 * 360;
            if (circleAngle < 180) {
                degreeA = 0;
                degreeB = 0 + parseFloat(circleAngle);
            }
            else {
                degreeB = 0;
                degreeA = parseFloat(circleAngle) - 180;
                $('.j-circle-progss .j-circle-right-box .j-circle-right').addClass('red');
            }

            $('.j-circle-progss .j-circle-left-box').css({
                WebkitTransform: 'rotate(' + degreeA + 'deg)',
                Transform: 'rotate(' + degreeA + 'deg)'
            });
            $('.j-circle-progss .j-circle-right-box').css({
                WebkitTransform: 'rotate(' + degreeB + 'deg)',
                Transform: 'rotate(' + degreeB + 'deg)'
            });
        }
        // 信息切换
        $('.j-collect-btn-box .j-collect-btn').on('click', function () {
            var toggleName = $(this).attr('data-toggle');
            $('.j-collect-btn-box .j-collect-btn').removeClass('select');
            $(this).addClass('select');
            $('.j-content-box .j-content').hide();
            $('.j-content-box .j-content.' + toggleName).show();
        });
        $('.j-collect-btn-box .j-collect-btn').eq(6).click();
        // 编辑弹出弹框
        $('.j-btn-aditor,.j-btn-modify,.j-btn-add').on('click', function () {
            var toggleName = $(this).attr('data-toggle');
            $('.j-popover-box').hide();
            $('.j-popover-shadow').show();
            $('.j-popover-box.' + toggleName).show();
        });
        $('.j-btn-cancel').on('click', function () {
            $('.j-popover-box').hide();
            $('.j-popover-shadow').hide();
        });
        $('.j-btn-sure').on('click', function () {
            $('.j-popover-box').hide();
            $('.j-popover-shadow').hide();
        });
        // 预览简历
        $('.j-preview-btn').on('click', function () {
            $('.j-popover-preview-shadow').show();
        });
        $('.j-popover-preview-shadow').on('click', function (event) {
            event = event || window.event;
            if(!$(event.target).hasClass('j-popover-preview-box')&&$(event.target).parents('.j-popover-preview-box').length==0){
                $('.j-popover-preview-shadow').hide();
            }

        });
    });
</script>
</body>
</html>