<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>工资</title>-->

</head>
<body>
<div class="u-workmanagement-box">
    <h2 class="u-preRight-title size16">工作管理<span class="u-preRight-sub">>&nbsp;&nbsp;正在工作</span><span class="u-preRight-sub">>&nbsp;&nbsp;工资</span></h2>
    <div class="gz-content">
        <div class="tb-history-box">
            <div class="j-switch">
                <i class="icon_hf switch-left"></i>
                <div class="switch-num">
                    <span class="switch-cur">1</span>
                    <span class="switch-line">/</span>
                    <span class="switch-tit">3</span>
                </div>
                <i class="icon_hf switch-right"></i>
            </div>
            <table class="tab-history">
                <tr>
                    <td width="150">结算时间</td>
                    <td width="199">结算方</td>
                    <td width="100">基本工资</td>
                    <td width="110">提成/奖励</td>
                    <td width="90">扣除</td>
                    <td width="100">所得工资</td>
                </tr>
                <tr>
                    <td>2017/03/06~03/07</td>
                    <td>XXX公司</td>
                    <td>2000</td>
                    <td>2000</td>
                    <td>2000</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>2017/03/06~03/07</td>
                    <td>XXX公司</td>
                    <td>2000</td>
                    <td>2000</td>
                    <td>2000</td>
                    <td>2000</td>
                </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>