<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>考勤-离职</title>-->
    <script>
        $('#workmanagement-kq-nav a').on('click',function()
        {
            var url=$(this).attr('data-name');
            $('#preRight').load(url)
        });
        $('#lzbtn').on('click',function()
        {
            var url=$(this).attr('data-name');
            $('#preRight').load(url)
        })
    </script>
</head>
<body>
<div class="u-workmanagement-box">
    <h2 class="u-preRight-title size16">工作管理<span class="u-preRight-sub">>&nbsp;&nbsp;正在工作</span><span class="u-preRight-sub">>&nbsp;&nbsp;考勤</span><span class="u-preRight-sub">>&nbsp;&nbsp;离职</span></h2>
    <ul class="workmanagement-kq-nav clear" id="workmanagement-kq-nav">
        <li>
            <a href="javascript:;" data-name="workManagement-kq.html">考勤状况</a>
        </li>
        <li>
            <a href="javascript:;" data-name="workManagement-kq-tb.html">调班</a>
        </li>
        <li>
            <a href="javascript:;" data-name="workManagement-kq-qj.html">请假</a>
        </li>
        <li class="kq-nav-active">
            <a href="javascript:;" data-name="workManagement-kq-lz.html">离职</a>
        </li>
    </ul>
    <div class="workmanagement-kq-content">
        <div class="lz-type tb-list">
            <span>请选择原因类型：</span>
            <input type="radio" id='boy' name="sex" checked="checked">
            <label for="boy" class="label-boy">公司原因</label>
            <input type="radio" id='girl' name="sex">
            <label for="girl" class="label-girl">个人原因</label>
        </div>
        <div class="tb-list">
            <p>请输入离职原因：</p>
            <textarea></textarea>
        </div>
        <div class="pub-btn" data-name="workManagement-kq-lzzt.html" id="lzbtn">提交申请</div>
    </div>

</div>

</body>
</html>