<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Register/register.css" type="text/css">
     <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
</head>
<body>
<div class="u-registerbox">
    <div class="container-fluid ">

        <div class="col-xs-12 jumbotron jumbotron-row">
            <form>
                <div class="form-group">
                    <input type="company" class="form-control" id="company" placeholder="公司名称：">

                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" id="phone" placeholder="手机号：">

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="验证码：">
                    <span class="input-group-btn">
                <button class="btn security-btn" type="button">获取验证码</button>
                    </span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="密码：">
                </div>
                <div class="form-group">
                    <input type="confirm " class="form-control" id="confirm " placeholder="确认密码：">
                </div>

            </form>
        </div>
        <div class="col-xs-12">
            <button class="btn j-btn" type="submit" onclick="window.location='../Logoin/index.html'">注册</button>
        </div>
    </div>
</div>

</body>
</html>