<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>员工管理</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/WorkManagement/WorkManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body class="u-EmployeeManagement">
<div class="u-EmployeeManagement-box">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="nav.html"></a>
        <p class="u-header-title text-center">员工管理</p>
        <span type="button" class=" u-header-add" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<div class='Addmembers'>添加成员</div><div>导入简历</div>">
        </span>
    </div>
    <div class="container u-lookresume-box u-EmployeeManagement-list">
        <div class="row">

            <div class="u-lookresume-t">
                <span>李雪</span>
                <span></span>
                <span>销售总经理</span>
                <i class="fr u-EmployeeManagement-time">2017-02-01</i>
            </div>
            <div class="u-lookresume-b">
                <span>工号：<b>100210</b></span>
                <span>手机号：<b>18787872878</b></span>
            </div>
            <div class="u-project-f">
                <div class="u-project-a">
                    <a href="ModifyManagerInfo.html">修改</a>
                    <a href="#">删除</a>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="u-lookresume-t">
                <span>李雪</span>
                <span></span>
                <span>销售总经理</span>
                <i class="fr u-EmployeeManagement-time">2017-02-01</i>
            </div>
            <div class="u-lookresume-b">
                <span>工号：<b>100210</b></span>
                <span>手机号：<b>18787872878</b></span>
            </div>
            <div class="u-project-f">
                <div class="u-project-a">
                    <a href="#">修改</a>
                    <a href="#">删除</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        $('.u-header-add').popover({html:true});
        $(document).on('click','.Addmembers',function () {
           window.location = 'AddMembers.html';
        });
    })
</script>
</body>
</html>