<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工资条</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/WorkManagement/WorkManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
<div class="u-SalaryBar-box">
    <div class="u-header-box container-fluid">
        <i class="u-header-arrow"></i>
        <p class="u-header-title text-center">工资条</p>
    </div>
    <div class="container-fluid u-SalaryBar">
        <div class="row">
            <div class="col-xs-12">
                <div class="u-SalaryBar-name u-lookresume-t">
                    <span>李雪</span>
                    <span></span>
                    <span><b>2017/02/05~02/03</b>结算</span>
                    <span class="fr u-getMoney">所得工资：<b>3900</b></span>
                </div>
                <div class="u-SalaryBar-info u-lookresume-b">
                    <span>基本工资：<b>4000</b></span>
                    <span>提成奖励：<b>1000</b></span>
                    <span class="fr">扣除：<b>100</b></span>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>