<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>调班已审批详情</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/WorkManagement/WorkManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
<div class="u-LeaveApprovalDetil-box">
    <div class="u-header-box container-fluid">
        <i class="u-header-arrow"></i>
        <p class="u-header-title text-center">审批</p>
    </div>
    <div class="container-fluid u-LeaveApprovalDetil">
        <div class="row u-Approval-t">
          <div class="col-xs-12">
            <p class="u-leave-state">胡燕请假申请<i >已审批</i></p>
            <p class="pb15">事假</p>
            <div class="u-Approval-b">
              <p>审批人：<span>王经理</span></p>
              <p>工作时段：<span>2017-03-05 08:00-18:00</span></p>
              <p >调班时段<span>2017-03-05 08:00-18:00</span></p>
              <p class="pb15">事由：<span>老家急事</span></p>
            </div>
          </div>
        </div>
        <div class="row u-Approval-reason">
          <div class="col-xs-12">
            <p class="u-Approval-result">审核结果：<span>通过</span></p>
            <div class="u-Approval-text">
              <p>通过原因：<span>允许员工调班</span></p>
            </div>
          </div>
        </div>
    </div>
</div>

</body>
</html>