<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工作报告</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/WorkManagement/WorkManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
<div class="u-workReport-box">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="nav.html"></a>
        <p class="u-header-title text-center">工作报告</p>
    </div>
    <div class="container-fluid u-workReport">
        <div class="row" onclick="window.location='WorkReportDetil.html'">
            <div class="col-xs-10">
                <div class="u-report-name">
                    李雪的【日报】
                </div>
                <div class="u-report-info">
                    <span>报销量：<b>234</b></span>
                    <span>时间：<b>2017-02-05</b></span>
                </div>
            </div>
            <div href="##" class="col-xs-2">
                <a href="##" class="u-report-look">查看</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="u-report-name">
                    李雪的【日报】
                </div>
                <div class="u-report-info">
                    <span>报销量：<b>234</b></span>
                    <span>时间：<b>2017-02-05</b></span>
                </div>
            </div>
            <div href="##" class="col-xs-2">
                <a href="##" class="u-report-look">查看</a>
            </div>
        </div>
    </div>

</div>

</body>
</html>