<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>求职意向</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/TalentManagement/talentManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>

    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>
<body>
<div class="u-resumeByAdd-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="addResume.html"></a>
        <p class="u-header-title text-center">求职意向</p>
        <a class="u-header-help highlight-red" href="addResume.html">保存</a>
    </div>

    <!--修改列表-->
    <div class="container-fluid u-add-manager">
        <div class="col-xs-12">
            <div class="input-group">
                    <span class="input-group-addon">工作性质</span>
                <div class="u-select-btn-box pull-right">
                       <span type="button" id="FirmAddress" class="u-select-btn" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false">请选择 </span>>
                    <ul class="dropdown-menu">
                        <li><a href="#">岗位一</a></li>
                        <li><a href="#">岗位二</a></li>
                        <li><a href="#">岗位三</a></li>
                        <li><a href="#">岗位四</a></li>
                    </ul>
                </div>
            </div>
            <div class="input-group">
                    <span class="input-group-addon">工作城市：</span>
                <input type="text" class="form-control" id="workCity" aria-describedby="basic-addon1"
                       placeholder="请输入">
            </div>
            <div class="input-group">
                    <span class="input-group-addon">期望薪资：</span>
                <input type="text" class="form-control" id="salary" aria-describedby="basic-addon2"
                       placeholder="请输入">
            </div>
            <div class="input-group">
                    <span class="input-group-addon">职位类别：</span>
                <input type="text" class="form-control" id="workSort" aria-describedby="basic-addon3"
                       placeholder="请输入">
            </div>
            <div class="input-group">
                <span class="input-group-addon">行业类别：</span>
                <div class="u-select-btn-box pull-right">
                           <span type="button" id="industrySort" class="u-select-btn" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false">请选择 </span>>
                    <ul class="dropdown-menu">
                        <li><a href="#">岗位一</a></li>
                        <li><a href="#">岗位二</a></li>
                        <li><a href="#">岗位三</a></li>
                        <li><a href="#">岗位四</a></li>
                    </ul>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">求职状态：</span>
                <div class="u-select-btn-box pull-right">
                       <span type="button" id="currState" class="u-select-btn" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false">请选择 </span>>
                    <ul class="dropdown-menu">
                        <li><a href="#">岗位一</a></li>
                        <li><a href="#">岗位二</a></li>
                        <li><a href="#">岗位三</a></li>
                        <li><a href="#">岗位四</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--修改列表-->
</div>
</body>
</html>