<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>考勤记录</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/WorkManagement/WorkManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
<div class="u-checkRecord-box">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="check.html"></a>
        <p class="u-header-title text-center">考勤</p>
    </div>
    <div class="container u-lookresume-box">
        <div class="row">
            <div class="col-xs-12">
                <div class="u-lookresume-t">
                    <span>胡燕</span>
                    <span class="line-red"></span>
                    <span><b>2017.02.05</b>入职</span>

                </div>

            </div>
            <div class="u-project-f col-xs-12">
                <div class="u-project-a">
                    <span>出勤<b>21天</b></span>
                    <span>休息<b>21天</b></span>
                    <span>请假<b>21天</b></span>
                </div>
                <div class="u-project-a">
                    <span>矿工<b>21天</b></span>
                    <span>迟到<b>21天</b></span>
                    <span>早退<b>21天</b></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="u-lookresume-t">
                    <span>胡燕</span>
                    <span class="line-red"></span>
                    <span><b>2017.02.05</b>入职</span>

                </div>

            </div>
            <div class="u-project-f col-xs-12">
                <div class="u-project-a">
                    <span>出勤<b>21天</b></span>
                    <span>休息<b>21天</b></span>
                    <span>请假<b>21天</b></span>
                </div>
                <div class="u-project-a">
                    <span>矿工<b>21天</b></span>
                    <span>迟到<b>21天</b></span>
                    <span>早退<b>21天</b></span>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>