<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工作汇报-详情</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/WorkManagement/WorkManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>


</head>
<body>
<div class="u-workReportDetil-box">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="WorkReport.html"></a>
        <p class="u-header-title text-center">详情</p>
    </div>
    <div class="container-fluid u-workReportDetil">
        <div class="row">
            <div class="col-xs-12">
                <div class="u-report-name">
                    李雪的【日报】
                    <p class="pull-right">2017-02-07汇报</p>
                </div>
                <div class="u-report-info pb5">
                    <span>报销量：<b>234</b></span>
                    <span>报销人：<b>李雪</b></span>
                </div>
                <div class="u-report-info">
                    <span>报销量：<b>234</b></span>
                    <span>报销人：<b>李雪</b></span>
                </div>
            </div>

        </div>

            <div class="u-workReportDetil-content">
                <p>过滤来电以及接收信息及时转接给所需部门。事先放好会客室的面巾纸和矿泉水以备用，待见到客人起身微笑迎接问侯，指引客人到所需地方等候接洽，及时递上矿泉水或泡茶接待，坚决做到客人还没离开，自己就不会下班。若休息时间临时有客来访或任部门有事所需，也会尽快赶到接待帮忙,以及协助事宜</p>
                <img src="../../Resources/img/logo.png" alt="">
            </div>

    </div>

</div>

</body>
</html>