<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
   <meta content="yes" name="apple-mobile-web-app-capable">     
<meta content="black" name="apple-mobile-web-app-status-bar-style">     
<meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>待查看简历岗位</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
     <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
   <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
</head>
<body>
<div class="u-header-box container-fluid">
    <i class="u-header-arrow"></i>
    <p class="u-header-title text-center">待查看简历岗位</p>
</div>
<div class="container u-lookresume-box">
    <div class="row">
        <div class="col-xs-12">
            <div class="u-lookresume-t">
                <span>销售总监</span>
                <span></span>
                <span>发布于<b>2017.02.05</b></span>
                <a href="#">查看收到的简历</a>
            </div>
            <div class="u-lookresume-b">
                <span>发布人：<b>王经理</b></span>
                <span>浏览量：<b>129</b></span>
                <span>未查看/简历投递量：<b>12/50</b></span>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-xs-12">
            <div class="u-lookresume-t">
                <span>销售总监</span>
                <span></span>
                <span>发布于<b>2017.02.05</b></span>
                <a href="#">查看收到的简历</a>
            </div>
            <div class="u-lookresume-b">
                <span>发布人：<b>王经理</b></span>
                <span>浏览量：<b>129</b></span>
                <span>未查看/简历投递量：<b>12/50</b></span>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>