<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>优惠活动</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Home/home.css" type="text/css">
     <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<div class="u-coupon-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="index.html"></a>
        <p class="u-header-title text-center">优惠活动</p>
    </div>

    <div id="pointCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#pointCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#pointCarousel" data-slide-to="1"></li>
            <li data-target="#pointCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../../Resources/img/bg_pointEx_carousel1.png">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="../../Resources/img/bg_pointEx_carousel1.png">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="../../Resources/img/bg_pointEx_carousel1.png">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>

    <div class="u-coupon-list container-fluid">
        <div class="u-coupon-item row">
            <div class="u-coupon-item-left col-xs-3 pull-left type1">
                ￥35
            </div>
            <div class="u-coupon-item-right col-xs-9  pull-left">
                <h2>招聘基金</h2>
                <p>有效期至：2017-08-10</p>
                <p class="un-used">点击领取</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="u-coupon-item row">
            <div class="u-coupon-item-left col-xs-3 pull-left type2">
                <span>5</span> 折
            </div>
            <div class="u-coupon-item-right col-xs-9 pull-left">
                <h2>简历下载分数充值优惠</h2>
                <p>有效期至：2017-08-10</p>
                <p class="used">您已领取</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="u-coupon-item row">
            <div class="u-coupon-item-left col-xs-3 pull-left type3">
                <span>买 50</span>
                <span>赠 100</span>
            </div>
            <div class="u-coupon-item-right col-xs-9 pull-left">
                <h2>简历下载分数充值优惠</h2>
                <p>有效期至：2017-08-10</p>
                <p class="un-used">点击领取</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</body>
</html>