<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>更多</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/ResumeSearch/resumeSearch.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/ResumeSearch/resumeSearch.js"></script>

</head>
<body>
<div class="u-more-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="resumeSearch.html"></a>
        <p class="u-header-title text-center">更多</p>
        <!--<span class="u-header-add"></span>-->
    </div>

    <div class="u-more-content container-fluid">
        <div class="u-more-item row">
            <p class="u-more-title col-xs-12">薪酬 <span class="highlight-red">*可多选</span></p>
            <div class="col-xs-12">
                <div class="u-collapse-select-list row checkbox">
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a1">
                        <label for="a1">不限</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a2">
                        <label for="a2">2K以下</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a3">
                        <label for="a3">2K-5K</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a4">
                        <label for="a4">5K-10K</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a5">
                        <label for="a5">10K-15K</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a6">
                        <label for="a6">15K-20K</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a7">
                        <label for="a7">20K-25K</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a8">
                        <label for="a8">25K-50K</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="a9">
                        <label for="a9">50K以上</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-more-item row">
            <p class="u-more-title col-xs-12">行业 <span class="highlight-red">*可多选</span></p>
            <div class="col-xs-12">
                <div class="u-collapse-select-list row checkbox">
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b1">
                        <label for="b1">不限</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b2">
                        <label for="b2">销售</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b3">
                        <label for="b3">金融</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b4">
                        <label for="b4">旅游</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b5">
                        <label for="b5">软件</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b6">
                        <label for="b6">工业</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b7">
                        <label for="b7">金融</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="b8">
                        <label for="b8">旅游</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-more-item row">
            <p class="u-more-title col-xs-12">岗位 <span class="highlight-red">*可多选</span></p>
            <div class="col-xs-12">
                <div class="u-collapse-select-list row checkbox">
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="c1">
                        <label for="c1">不限</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="c2">
                        <label for="c2">销售总监</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="c3">
                        <label for="c3">产品经理</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id=c4">
                        <label for="c4">市场策划</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="c5">
                        <label for="c5">web前端</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="c6">
                        <label for="c6">平面设计</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="c7">
                        <label for="c7">清洁工</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="c8">
                        <label for="c8">服务员</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-more-item row">
            <p class="u-more-title col-xs-12">专业 <span class="highlight-red">*可多选</span></p>
            <div class="col-xs-12">
                <div class="u-collapse-select-list row checkbox">
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d1">
                        <label for="d1">不限</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d2">
                        <label for="d2">软件</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d3">
                        <label for="d3">土木</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d4">
                        <label for="d4">汉语言</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d5">
                        <label for="d5">外国语</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d6">
                        <label for="d6">电子</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d7">
                        <label for="d7">汽修</label>
                    </div>
                    <div class="u-collapse-slect-item col-xs-3">
                        <input class="checkbox-choice" type="checkbox" name="eduation" id="d8">
                        <label for="d8">金融</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="u-btn-box col-xs-12">
                <button class="btn" type="submit" onclick="window.location='resumeSearch.html'">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>