<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
   <meta content="yes" name="apple-mobile-web-app-capable">     
<meta content="black" name="apple-mobile-web-app-status-bar-style">     
<meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改原因</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/ProjectManagement/setReason.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
</head>
<body>
    <div class="u-modify-box">
        <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="failingReason.html"></a>
        <p class="u-header-title text-center">修改原因</p>
    </div>
        <div class="container-fluid u-addReason-content">
                <textarea placeholder="">认证未通过</textarea>     
        </div>
        <div class="u-flow1-foot">
                <div class="col-xs-12">
                   <button class="btn u-siteAudit-search" type="submit">确定</button>
                </div>
            </div>
    </div>
    
</body>
</html>