<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>消息详情</title>
    <link rel="stylesheet" href="../../Resources/css/common/base.css">
    <link rel="stylesheet" href="../../Resources/css/Message/message.css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>

    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>
<body>
<div class="u-header">
    <div class="tbar">
        <div class="u-page clear">
            <div class="u-weixin left">
                <i class="icon_hf icon_wx"></i>
                <span>微信</span>
            </div>
            <div class="u-useinfo right">
                <ul class="u-user">
                    <li class="u-mesage">
                        <a href="#">消息</a>
                    </li>
                    <li class="u-userselect">
                        <a href="#">
                            <span class="l-link_fff"></span>
                            <span>用户名</span>
                            <i class="icon-down"></i>
                        </a>
                        <ul class="user_info_list pub_list">
                            <li class="user_info_show clear">
                                <div class="left">
                                    <img src="../../Resources/img/user_img.png" alt="">
                                    <b class="user_name">姓名</b>
                                </div>
                                <div class="right">
                                    <a href="#" class="quit">退出登陆</a>
                                </div>
                                <div class="user-sanjiao"></div>
                            </li>
                            <li>
                                <i class="icon_hf icon_text_red"></i>
                                <p>我的简历</p>
                                <span class="icon_hf icon_more"></span>
                            </li>
                            <li>
                                <i class="icon_hf icon_text_sc"></i>
                                <p>我的收藏</p>
                                <span class="icon_hf icon_more"></span>
                            </li>
                            <li>
                                <i class="icon_hf icon_text_mm"></i>
                                <p>修改密码</p>
                                <span class="icon_hf icon_more"></span>
                            </li>
                            <li>
                                <i class="icon_hf icon_text_qz"></i>
                                <p>求职进展</p>
                                <span class="icon_hf icon_more"></span>
                            </li>
                            <li>
                                <i class="icon_hf icon_text_gz"></i>
                                <p>工作管理</p>
                                <span class="icon_hf icon_more"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="u-nav-box">
        <div class="u-page clear_no">
            <div class="logo">
                <a href="#"></a>
                <span class="loc f16">【<em>石家庄</em>】</span>
            </div>
            <ul class="tnav_wrap left" id='tnav'>
                <li class="nav-home"><a href="#" class="nav-on">首页</a></li>
                <li><a href="#" data-name='../RecruitmentProject/recruitmentProject.html'>招聘项目</a></li>
                <li><a href="#">我要兼职</a></li>
                <li><a href="#">最新资讯</a></li>
            </ul>
            <div class="right">
                <div class='tphone'>
                    <i class="icon-tphone"></i>
                    <span>400-666-5643</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-page">
    <div class="u-messageDetail-box u-message-box">
        <div class="u-message-head">
            <ul class="u-message-bar size18">
                <div class="u-bar-item select">全部</div>
                <div class="u-bar-item">系统信息</div>
                <div class="u-bar-item">管理员信息</div>
                <div class="u-bar-item">面试通知</div>
                <div class="u-bar-item">工作通知</div>
            </ul>
        </div>
        <div class="u-messageDetail-main">
            <div class="u-message-title-box">
                <h3 class="u-message-title highlight-333">系统信息</h3>
                <p class="u-message-time highlight-666">2016/10/06 <span>10:36</span></p>
            </div>
            <p class="u-message-content highlight-333">
                欢迎加入，劳务派遣招聘！在这里有各种各样兼职任你选择，只有你想不到的，没有你找不到的。随时更新各种兼职不错过任何一次兼职上班的机会！</p>
        </div>
    </div>
</div>
<div class="foot">
    <div class="u-page">
        <div class="pub_d">
            <ul>
                <li class="h-list">
                    增值产品
                </li>
                <li>
                    <a href="#">
                        诺亚培训
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
            </ul>
        </div>
        <div class="pub_d">
            <ul>
                <li class="h-list">
                    HR服务
                </li>
                <li>
                    <a href="#">
                        诺亚培训
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>

            </ul>
        </div>
        <div class="pub_d">
            <ul>
                <li class="h-list">
                    关于我们
                </li>
                <li>
                    <a href="#">
                        诺亚培训
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
                <li>
                    <a href="#">
                        招聘流程外包
                    </a>
                </li>
            </ul>
        </div>
        <div class="pub_d f-ss">
            <div class="f-weixin">
                <img src="../../Resources/img/recruit-img.jpg" alt="">
                <div class="f-weixin-text">
                    <p>微信扫一扫</p>
                    <p>工作随心找</p>
                </div>
            </div>
            <div class="f-gzh">
                <img src="../../Resources/img/recruit-img.jpg" alt="">
                <div class="f-gzh-text">
                    <p>扫一扫关注</p>
                    <p>诺亚公众号</p>
                </div>
            </div>
        </div>

    </div>
    <div class="f-bottom-text">
        <p>诺亚公司旗下网站</p>
        <p>
            <span>2017诺亚人力资源开发有限公司</span>
            <span>冀ICP备10006226号-4</span>
            <span>冀公网安备13019902000054号</span>
        </p>
        <p>服务热线：400-666-5643</p>
    </div>
</div>
<script>
</script>
</body>
</html>