<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企业诚信认证</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Setting/setting.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <script src="../../Resources/js/Setting/setting.js"></script>

    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>
<body>
<div class="u-certificate-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="index.html"></a>
        <p class="u-header-title text-center">企业诚信认证</p>
    </div>

    <div class="u-certificate-list container">
        <div class="row u-certificate-item" onclick="window.location='certificateSubmit.html'">
            <div class="col-xs-12">
                <div class="pull-left"><i class="u-certificate-icon"></i> 营业执照</div>
                <div class="pull-right">去认证</div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12 u-certificate-intro">
                需要提交XX资料才能审核，审核时间一般为2-7个工作日
            </div>
        </div>
        <div class="row u-certificate-item">
            <div class="col-xs-12">
                <div class="pull-left"><i class="u-certificate-icon"></i> 诚信企业</div>
                <div class="pull-right">已认证</div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12 u-certificate-intro">
                需要提交XX资料才能审核，审核时间一般为2-7个工作日
            </div>
        </div>
        <div class="row u-certificate-item">
            <div class="col-xs-12">
                <div class="pull-left"><i class="u-certificate-icon"></i> 五险一金</div>
                <div class="pull-right">已认证</div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12 u-certificate-intro">
                需要提交XX资料才能审核，审核时间一般为2-7个工作日
            </div>
        </div>
    </div>
</div>
</body>
</html>