<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>更换手机号</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Setting/setting.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
</head>
<body>
<div class="u-password-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="index.html"></a>
        <p class="u-header-title text-center">更换手机号</p>
    </div>
    <div class="container-fluid u-password">
        <div class="row">
            <form>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">原手机验证码：</span>
                    <input type="text" class="form-control" id="oldPhoneCode" aria-describedby="basic-addon1">
                    <span class="input-group-addon u-send-phone-code">发送验证码</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">新手机号：</span>
                    <input type="text" class="form-control" id="newPhone" aria-describedby="basic-addon2">
                    <span class="input-group-addon u-send-phone-code">发送验证码</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">新手机验证码：</span>
                    <input type="text" class="form-control" id="newPhoneCode" aria-describedby="basic-addon3">
                </div>
            </form>
        </div>


    </div>
    <div class="u-btn-box col-xs-12">
        <button class="btn" type="submit">确定</button>
    </div>
</div>

</body>
</html>