<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/font/font-icons-46e2fcfcd08e004748897c1b24829140.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Setting/setting.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <style>
        body {
        background-color: #fff;
        }
    </style>
</head>
<body>
<div class="u-setting-box u-wrapper">
    <div class="u-header-box container-fluid">
        <p class="u-header-title text-center">企业设置</p>
    </div>
    <div class="u-company-box container-fluid">
                <div class="u-company col-xs-12 text-center">
                    <div class="u-company-logo"></div>
                    <p class="u-company-star" onclick="window.location='pointLog.html'"><i></i> 一级会员</p>
                    <p class="u-company-name">诺亚人力资源有限公司</p>
                </div>
    </div>
    <ul class="u-setting-list container-fluid">
        <li class="u-setting-item col-xs-12" onclick="window.location='basicMessage.html'">
            <i class="u-setting-item-icon"></i>
            <span>基本信息</span>
            <i class="u-setting-item-arrow"></i>
        </li>
        <li class="u-setting-item col-xs-12" onclick="window.location='certificate.html'">
            <i class="u-setting-item-icon"></i>
            <span>企业诚信认证</span>
            <i class="u-setting-item-arrow"></i>
        </li>
        <li class="u-setting-item col-xs-12" onclick="window.location='manager.html'">
            <i class="u-setting-item-icon"></i>
            <span>设置子管理员</span>
            <i class="u-setting-item-arrow"></i>
        </li>
        <li class="u-setting-item col-xs-12" onclick="window.location='principal.html'">
            <i class="u-setting-item-icon"></i>
            <span>设置负责人</span>
            <i class="u-setting-item-arrow"></i>
        </li>
        <li class="u-setting-item col-xs-12" onclick="window.location='changePhone.html'">
            <i class="u-setting-item-icon"></i>
            <span>更换手机号</span>
            <i class="u-setting-item-arrow"></i>
        </li>
        <li class="u-setting-item col-xs-12" onclick="window.location='password.html'">
            <i class="u-setting-item-icon"></i>
            <span>修改密码</span>
            <i class="u-setting-item-arrow"></i>
        </li>
        <li class="u-setting-item col-xs-12" onclick="window.location='coupon.html'">
            <i class="u-setting-item-icon"></i>
            <span>我的优惠卷</span>
            <i class="u-setting-item-arrow"></i>
        </li>
        <li class="u-setting-item col-xs-12" onclick="window.location='pointExchange.html'">
            <i class="u-setting-item-icon"></i>
            <span>积分兑换</span>
            <i class="u-setting-item-arrow"></i>
        </li>
    </ul>
        <div class="u-btn-box u-btn-box-color container-fluid">
            <div class="btn u-btn col-xs-12">退出当前账号</div>
        </div>
    <div class="container foot-tab">
        <div class="row">
            <div class="col-xs-4" onclick="window.location='../Message/message.html'">
                <img src="../../Resources/img/icon_message_normal.png" />
                <p>消息</p>
            </div>
            <div class="col-xs-4" onclick="window.location='../Home/index.html'">
                <img src="../../Resources/img/icon_home_normal.png" />
                <p>主页</p>
            </div>
            <div class="col-xs-4" onclick="window.location='index.html'">
                <img src="../../Resources/img/icon_set_select.png" />
                <p class="highlight-red">设置</p>
            </div>
        </div>

    </div>
<div>

</div>
</div>

</body>
</html>