<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/font/font-icons-46e2fcfcd08e004748897c1b24829140.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/Setting/setting.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>
    <style>
        body {
        background-color: #fff;
        }
    </style>
</head>
<body>
<div class="u-map-box u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="basicMessage.html"></a>
        <p class="u-header-title text-center">公司位置</p>
    </div>
    <div>
        <img src="../../Resources/img/img_map.jpg">
    </div>
<div>

</div>
</div>

</body>
</html>