<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>特殊技能</title>
    <link rel="stylesheet" href="../../Resources/public/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/base.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/common/common.css" type="text/css">
    <link rel="stylesheet" href="../../Resources/css/TalentManagement/talentManagement.css" type="text/css">
    <script src="../../Resources/public/jquery/jquery.min.js"></script>
    <script src="../../Resources/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Resources/js/common/base.js"></script>

</head>
<body>
<div class="u-resumeByAdd-box u-resumeBySpecial u-wrapper">
    <div class="u-header-box container-fluid">
        <a class="u-header-arrow" href="addResume.html"></a>
        <p class="u-header-title text-center">特殊技能</p>
        <a class="u-header-help highlight-red" href="addResume.html">保存</a>
    </div>

    <!--修改列表-->
    <div class="container-fluid u-add-manager">
        <div class="col-xs-12">
            <div class="row">
                <div class="from-group u-from-group">
                    <textarea class="form-control u-textarea" id="projectDescribe" placeholder="请输入项目描述" aria-describedby="basic-addon1"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!--修改列表-->
</div>
</body>
</html>